@import '../vars';
@import '../templates';

* {
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  max-width: 100%;
  height: 896px;
  background-image: url(../../images/main_img/Header_backgr_main1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (max-width: 1024px) {
    height: 852px;
    background-image: none;
    background-color: transparent;
  }
}

.header-top {
  @extend %header-top;
}

.header-content-wrapper {
  @media (max-width: 1024px) {
    max-width: 100vw;
    height: 772px;
    margin-top: 0;
    background-image: url(../../images/main_img/Header_backgr_main1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.header-content__inner {
  max-width: 1400px;
  margin: 80px auto;
  display: flex;
  align-items: center;
  @media (max-width: 1024px) {
    max-width: 1024px;
    margin: 0 auto;
    padding: 40px 40px 0 40px;
    gap: 20px;
  }
}

.header-content {
  max-width: 679px;
  @media (max-width: 1024px) {
    max-width: 462px;
  }
}

.header-subtitle {
  @include subtitle($color_first);
  margin-bottom: 28px;
}

.header-title {
  @extend %header-title;
  margin-bottom: 28px;
}

.header-text {
  @include text($font_add, $color_first);
}

.form {
  @extend %form;
}

.content-principles {
  background-image: url(../../images/Header_footer_img/bg-img-net.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.content-principles__wrapper {
  @extend %wrapper_position;
  display: flex;
}

.content-principles__img {
  max-width: 680px;
  margin-right: 39px;
}

.content-principles__subtitle {
  @include subtitle($color_second);
  margin-bottom: 40px;
}

.content-principles__text-main {
  @include text($font_add, $color_second);
}

.content-principles__text-add {
  padding: 30px;
  margin: 40px 0;
  background-color: $background-color_add;
  border: 1px solid $color_nav_form;
  border-radius: 12px;
  @include text($font_main, $color_second);
}
.content-advertising {
  background-color: $color_third;
}

.content-advertising__wrapper {
  @extend %wrapper_position;
}

.content-advertising__main-text {
  @include subtitle($color_first);
  text-align: center;
}

.content-advertising__items {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  column-gap: 40px;
  row-gap: 24px;
  justify-content: center;
}

.content-advertising__logo-google {
  max-width: 75px;
}

.content-advertising__logo-social {
  border-top: 1px solid $color-border;
  display: inline-block;
  padding-top: 40px;
}

.content-advertising__logo-fb {
  margin-right: 12px;
}

.content-advertising__subtitle {
  color: $color_first;
  font-family: $font_main;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 24px;
}

.content-advertising__text {
  @include text($font_main, $color_first);
  margin-bottom: 8px;
}

.content-advertising__button {
  @extend %btn;
  border: none;
  color: $color_first;
  background-color: $color_form-button;
  max-width: 279px;
  max-height: 60px;
  padding: 18px 30px 18px 40px;
  &::after {
    content: url(../../images/main_img/arrow_wh.svg);
    max-width: 12px;
    margin-left: 20px;
  }
}

.content-projects {
  background-image: url(../../images/Header_footer_img/bg-img-net.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.content-projects__wrapper {
  @extend %wrapper_position;
}

.content-projects__subtitle {
  @include subtitle($color_second);
  text-align: center;
  margin-bottom: 24px;
}

.content-projects__text {
  @include text($font_main, $color_second);
  text-align: center;
  margin-bottom: 40px;
}

.projects-slider__item {
  box-sizing: border-box;
  width: 320px;
  height: 320px;
  object-fit: cover;
  border-radius: 12px;
  border: 2px solid $color_nav_form;
  margin-right: 40px;
}

// .projects-slider__item:nth-child(4n) {
//   margin-right: 0;
// }

/* Стиль для стрелок */
.slick-prev,
.slick-next {
  position: absolute;
  top: calc(100% + 37px); /* Расположение стрелок под слайдером */
  z-index: 1;
  font-size: 0;
  width: 40px;
  height: 40px;
}

.slick-prev:before {
  content: url(../../images/main_img/prev.png);
}

.slick-next:before {
  content: url(../../images/main_img/next.png);
}

/* Стиль для точек */
.slick-dots {
  position: absolute;
  bottom: -47px; /* Расположение точек под слайдером */
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
}

.slick-dots li button:before {
  font-size: 35px; /* Измените размер точек */
  color: $color_form-button; /* Измените цвет точек */
}

.slick-dots li.slick-active button:before {
  color: $color_form-button; /* Измените цвет точек */
}

.content-clients {
  @extend %content-clients;
}

.footer {
  @extend %footer;
}
