@import "../vars";
@import "../templates";

* {
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  max-width: 100%;
  height: 896px;
  background-image: url(../../images/main_img/Header_backgr_main1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (max-width: 1024px) {
    height: 836px;
    background-image: none;
    background-color: transparent;
  }
  @media (max-width: 431px) {
    min-height: 975px;
    max-height: max-content;
  }
}

.header-top {
  @extend %header-top;
}

.header-content-wrapper {
  @media (max-width: 1024px) {
    max-width: 100vw;
    height: 772px;
    margin-top: 0;
    background-image: url(../../images/main_img/Header_backgr_main1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  @media (max-width: 431px) {
    background-position: top;
    background-size: auto 376px;
  }
}

.header-content__inner {
  max-width: 1400px;
  margin: 80px auto;
  display: flex;
  align-items: center;
  gap: 40px;
  @media (max-width: 1024px) {
    max-width: 1024px;
    margin: 0 auto;
    padding: 40px 40px 0 40px;
    gap: 20px;
  }
  @media (max-width: 768px) {
    max-width: 768px;
    padding: 40px;
  }
  @media (max-width: 431px) {
    max-width: 100vw;
    padding: 0;
    flex-direction: column;
    gap: 40px;
  }
}

.header-content {
  flex-basis: 50%;
  @media (max-width: 431px) {
    padding: 40px 5% 0 5%;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.header-subtitle {
  @include subtitle($color_first);
  margin-bottom: 28px;
  @media (max-width: 1024px) {
    font-size: 38px;
    line-height: 40px;
  }
  @media (max-width: 768px) {
    font-size: 28px;
    line-height: 36px;
  }
  @media (max-width: 431px) {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 0;
  }
}

.header-title {
  @extend %header-title;
  margin-bottom: 28px;
  @media (max-width: 431px) {
    margin-bottom: 0;
  }
}

.header-text {
  @include text($font_add, $color_first);
  @media (max-width: 1024px) {
    font-size: 20px;
    line-height: 28px;
  }
  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.form {
  @extend %form;

  .form-button {
    @media (max-width: 431px) {
      width: 100%;
      padding: 12px 28.5%;
    }
  }
}

.content-principles {
  background-image: url(../../images/Header_footer_img/bg-img-net.png);
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: 376px) {
    margin-top: 22px;
  }
  @media (max-width: 321px) {
    margin-top: 47px;
  }
}

.content-principles__wrapper {
  @extend %wrapper_position;
  display: flex;
  align-items: center;
  gap: 40px;
  @media (max-width: 1024px) {
    gap: 20px;
  }
  @media (max-width: 431px) {
    flex-direction: column;
  }
}

.content-principles__img {
  max-width: 680px;

  @media (max-width: 1024px) {
    max-width: 462px;
    max-height: 424px;
  }
  @media (max-width: 768px) {
    max-width: 334px;
  }
  @media (max-width: 431px) {
    width: 90vw;
  }
}

.content-principles__text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  @media (max-width: 1024px) {
    gap: 20px;
  }
}

.content-principles__subtitle {
  @include subtitle($color_second);
}

.content-principles__text-main {
  @include text($font_add, $color_second);
}

.content-principles__text-add {
  padding: 30px;
  background-color: $background-color_add;
  border: 1px solid $color_nav_form;
  border-radius: 12px;
  @include text($font_main, $color_second);
  @media (max-width: 1024px) {
    padding: 16px;
  }
  @media (max-width: 431px) {
    padding: 20px;
  }
}
.content-advertising {
  background-color: $color_third;
}

.content-advertising__wrapper {
  @extend %wrapper_position;
}

.content-advertising__main-text {
  @include subtitle($color_first);
  text-align: center;
}

.content-advertising__items {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  column-gap: 40px;
  row-gap: 24px;
  justify-content: center;
  @media (max-width: 1024px) {
    column-gap: 20px;
    row-gap: 12px;
  }
  @media (max-width: 768px) {
    margin-top: 32px;
  }
  @media (max-width: 431px) {
    margin-top: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, auto);
    row-gap: 12px;
  }
}

.content-advertising__logo-social_position {
  @media (max-width: 431px) {
    grid-row: 5/6;
    margin-top: 28px;
  }
}

.content-advertising__subtitle_position {
  @media (max-width: 431px) {
    grid-row: 6/7;
  }
}
.content-advertising__text_position {
  @media (max-width: 431px) {
    grid-row: 7/8;
  }
}

.content-advertising__button_position {
  @media (max-width: 431px) {
    grid-row: 8/9;
  }
}

.content-advertising__logo-google {
  max-width: 75px;
}

.content-advertising__logo-social {
  border-top: 1px solid $color-border;
  display: inline-block;
  padding-top: 40px;
  @media (max-width: 1024px) {
    padding-top: 26px;
  }
  @media (max-width: 431px) {
    padding-top: 30px;
    padding-bottom: 8px;
  }
}

.content-advertising__logo-fb {
  margin-right: 12px;
}

.content-advertising__subtitle {
  color: $color_first;
  font-family: $font_main;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 24px;
  @media (max-width: 1024px) {
    margin-bottom: 0px;
  }
  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.content-advertising__text {
  @include text($font_main, $color_first);
  margin-bottom: 8px;
  @media (max-width: 1024px) {
    margin-bottom: 12px;
  }
  @media (max-width: 431px) {
    margin-bottom: 12px;
  }
}

.content-advertising__button {
  @extend %btn;
  border: none;
  color: $color_first;
  background-color: $color_form-button;
  max-width: 279px;
  max-height: 60px;
  padding: 18px 30px 18px 40px;
  &::after {
    content: url(../../images/main_img/arrow_wh.svg);
    max-width: 12px;
    margin-left: 20px;
  }
}

.content-projects {
  background-image: url(../../images/Header_footer_img/bg-img-net.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.content-projects__wrapper {
  @extend %wrapper_position;
}

.content-projects__subtitle {
  @include subtitle($color_second);
  text-align: center;
  margin-bottom: 24px;
  @media (max-width: 768px) {
    margin-bottom: 12px;
  }
}

.content-projects__text {
  @include text($font_main, $color_second);
  text-align: center;
  margin-bottom: 40px;
  @media (max-width: 768px) {
    margin-bottom: 32px;
  }
}

.projects-slider__item {
  box-sizing: border-box;
  width: 320px;
  height: 320px;
  object-fit: cover;
  border-radius: 12px;
  border: 2px solid $color_nav_form;
  margin-right: 40px;
  @media (max-width: 1024px) {
    width: 220px;
    height: 220px;
    margin-right: 20px;
  }
  @media (max-width: 768px) {
    width: 334px;
    height: 334px;
  }
  @media (max-width: 431px) {
    width: 43.75vw;
    height: 43.75vw;
  }
}

/* Стиль для стрелок */
.slick-prev,
.slick-next {
  position: absolute;
  top: calc(100% + 37px); /* Расположение стрелок под слайдером */
  z-index: 1;
  font-size: 0;
  width: 40px;
  height: 40px;
}

.slick-prev {
  left: 15px;
}
.slick-next {
  right: 15px;
}

.slick-prev:before {
  content: url(../../images/main_img/prev.png);
}

.slick-next:before {
  content: url(../../images/main_img/next.png);
}

/* Стиль для точек */
.slick-dots {
  position: absolute;
  bottom: -47px; /* Расположение точек под слайдером */
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
}

.slick-dots li button:before {
  font-size: 35px; /* Измените размер точек */
  color: $color_form-button; /* Измените цвет точек */
}

.slick-dots li.slick-active button:before {
  color: $color_form-button; /* Измените цвет точек */
}

.content-clients {
  @extend %content-clients;
}

.footer {
  @extend %footer;
}
