.content-advertising__button, .form .form-items .form-button, .header-top .header-wrapper .header-top__buttons .header-top__button {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border-radius: 12px;
  cursor: pointer;
}

.header-top {
  padding: 24px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top .header-wrapper {
  display: flex;
}
.header-top .header-wrapper .header-nav {
  display: flex;
  align-items: center;
}
.header-top .header-wrapper .header-nav .header-nav__items {
  display: flex;
  gap: 40px;
  align-items: center;
}
.header-top .header-wrapper .header-nav .header-nav__items .header-nav__link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgb(193, 211, 222);
  text-decoration: none;
}
.header-top .header-wrapper .header-nav .header-nav__items .header-nav__link:hover {
  color: rgb(255, 255, 255);
}
.header-top .header-wrapper .header-top__buttons {
  margin-left: 60px;
}
.header-top .header-wrapper .header-top__buttons .header-top__connect {
  margin-right: 24px;
}
.header-top .header-wrapper .header-top__buttons .header-top__button {
  padding: 14px 24px;
  color: rgb(193, 211, 222);
  background-color: transparent;
  border: 1px solid rgb(193, 211, 222);
}
.header-top .header-wrapper .header-top__buttons .header-top__button:hover {
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.header-title {
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 68px;
  font-weight: 900;
  line-height: 79px;
}

.form .form-items .form-checkbox .checkbox-item, .form .form-message, .form .form-item {
  border: 2px solid rgb(193, 211, 222);
  border-radius: 12px;
  background-color: transparent;
  margin-bottom: 20px;
}

.form {
  width: 680px;
  height: 640px;
  padding: 60px;
  background-color: rgb(55, 111, 255);
  border-radius: 12px;
}
.form .form-title {
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-weight: 900;
  line-height: 40px;
  margin-bottom: 40px;
}
.form .form-item {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(193, 211, 222);
  width: 560px;
  height: 60px;
  padding-left: 32px;
}
.form .form-item::-moz-placeholder {
  color: rgb(193, 211, 222);
}
.form .form-item::placeholder {
  color: rgb(193, 211, 222);
}
.form .form-message {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(193, 211, 222);
  width: 560px;
  height: 120px;
  padding-left: 32px;
  padding-top: 18px;
}
.form .form-message::-moz-placeholder {
  color: rgb(193, 211, 222);
}
.form .form-message::placeholder {
  color: rgb(193, 211, 222);
}
.form .form-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form .form-items .form-button {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(55, 111, 255);
  text-align: start;
  flex-basis: 208px;
  height: 60px;
  margin-right: 20px;
  border: none;
  padding: 18px 42px;
}
.form .form-items .form-button::after {
  content: url(../../images/Header_footer_img/arrow.svg);
  margin-left: 22px;
}
.form .form-items .form-checkbox {
  flex-basis: 332px;
  display: flex;
  align-items: center;
}
.form .form-items .form-checkbox .checkbox-item {
  width: 20px;
  height: 20px;
}
.form .form-items .form-checkbox .checkbox-text {
  flex-grow: 0;
  flex-basis: 262px;
  margin-left: 12px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(193, 211, 222);
}
.form .form-items .form-checkbox .checkbox-text .checkbox-link {
  color: inherit;
  cursor: pointer;
}

.content-advertising__wrapper, .content-principles__wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 80px 0;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  max-width: 100%;
  height: 896px;
  background-image: url(../../images/main_img/Header_backgr_main.jpg);
  background-color: rgb(57, 58, 86);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-content-wrapper {
  max-width: 1400px;
  margin: 80px auto;
  display: flex;
  align-items: center;
}

.header-content {
  max-width: 679px;
}

.header-subtitle {
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-weight: 900;
  line-height: 40px;
  margin-bottom: 28px;
}

.header-title {
  margin-bottom: 28px;
}

.header-text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(255, 255, 255);
}

.content-principles {
  background-color: rgb(237, 244, 250);
}

.content-principles__wrapper {
  display: flex;
}

.content-principles__img {
  max-width: 680px;
  margin-right: 39px;
}

.content-principles__subtitle {
  font-family: "Inter", sans-serif;
  color: rgb(36, 42, 86);
  font-size: 38px;
  font-weight: 900;
  line-height: 40px;
  margin-bottom: 40px;
}

.content-principles__text-main {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(36, 42, 86);
}

.content-principles__text-add {
  padding: 30px;
  margin: 40px 0;
  background-color: rgb(251, 247, 241);
  border: 1px solid rgb(193, 211, 222);
  border-radius: 12px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(36, 42, 86);
}

.content-advertising {
  background-color: rgb(57, 58, 86);
}

.content-advertising__main-text {
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-weight: 900;
  line-height: 40px;
  text-align: center;
}

.content-advertising__items {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 24px;
  justify-content: center;
}

.content-advertising__logo-google {
  max-width: 75px;
}

.content-advertising__logo-social {
  border-top: 1px solid rgb(139, 155, 171);
  display: inline-block;
  padding-top: 40px;
}

.content-advertising__logo-fb {
  margin-right: 12px;
}

.content-advertising__subtitle {
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 24px;
}

.content-advertising__text {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(255, 255, 255);
  margin-bottom: 32px;
}

.content-advertising__button {
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(55, 111, 255);
  max-width: 279px;
  max-height: 60px;
  padding: 18px 30px 18px 40px;
  vertical-align: middle;
}
.content-advertising__button::after {
  content: url(../../images/main_img/arrow_wh.svg);
  max-width: 12px;
  margin-left: 20px;
}/*# sourceMappingURL=mainStyle.css.map */