@charset "UTF-8";
.content-advertising__button, .form .form-items .form-button, .footer .footer__wrapper .footer-content .footer-form .form-items .form-button, .header-top .header-wrapper .header-top__buttons .header-top__button {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border-radius: 12px;
  cursor: pointer;
}

.open {
  display: flex !important;
}

.header-top {
  padding: 24px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top .header-logo__dark {
  display: none;
}
@media (max-width: 1024px) {
  .header-top {
    display: flex;
    width: 100%;
    background-color: #fff;
    padding: 16px 40px;
  }
  .header-top .header-logo__white {
    display: none;
  }
  .header-top .header-logo__dark {
    display: inline-flex;
  }
}
@media (max-width: 431px) {
  .header-top {
    padding: 14px 16px;
  }
}
.header-top .header-wrapper {
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .header-top .header-wrapper {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    width: 100%;
    height: 568px;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 20px 4%;
    background-color: #fff;
  }
}
.header-top .header-wrapper .header-nav {
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .header-top .header-wrapper .header-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.header-top .header-wrapper .header-nav .header-nav__items {
  display: flex;
  gap: 40px;
  align-items: center;
}
@media (max-width: 1024px) {
  .header-top .header-wrapper .header-nav .header-nav__items {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
  }
}
.header-top .header-wrapper .header-nav .header-nav__items .header-nav__link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 200%;
  color: rgb(193, 211, 222);
  text-decoration: none;
}
@media (max-width: 1024px) {
  .header-top .header-wrapper .header-nav .header-nav__items .header-nav__link {
    color: rgb(139, 155, 171);
  }
}
.header-top .header-wrapper .header-nav .header-nav__items .header-nav__link:hover {
  color: rgb(255, 255, 255);
}
@media (max-width: 1024px) {
  .header-top .header-wrapper .header-nav .header-nav__items .header-nav__link:hover {
    color: rgb(55, 111, 255);
  }
}
.header-top .header-wrapper .header-nav .header-nav__items .active-page {
  padding-bottom: 35px;
  color: rgb(255, 255, 255);
  border-bottom: 4px solid rgb(255, 255, 255);
}
@media (max-width: 1024px) {
  .header-top .header-wrapper .header-nav .header-nav__items .active-page {
    border-bottom: none;
    color: rgb(139, 155, 171);
  }
}
.header-top .header-wrapper .header-top__buttons {
  display: flex;
  margin-left: 60px;
}
@media (max-width: 1024px) {
  .header-top .header-wrapper .header-top__buttons {
    margin-top: 32px;
    flex-direction: column;
    gap: 32px;
  }
}
.header-top .header-wrapper .header-top__buttons .header-top__connect {
  margin-right: 24px;
}
.header-top .header-wrapper .header-top__buttons .header-top__button {
  padding: 14px 24px;
  color: rgb(193, 211, 222);
  background-color: transparent;
  border: 1px solid rgb(193, 211, 222);
}
.header-top .header-wrapper .header-top__buttons .header-top__button:hover {
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}
@media (max-width: 1024px) {
  .header-top .header-wrapper .header-top__buttons {
    margin-left: 0;
    margin-right: 24px;
    gap: 24px;
  }
  .header-top .header-wrapper .header-top__buttons .header-top__connect {
    margin-right: 0;
  }
  .header-top .header-wrapper .header-top__buttons .header-top__button {
    width: 288px;
    color: rgb(139, 155, 171);
    border: 1px solid rgb(55, 111, 255);
  }
  .header-top .header-wrapper .header-top__buttons .header-top__button:hover {
    border: 1px solid rgb(55, 111, 255);
    color: rgb(55, 111, 255);
  }
}

.burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  width: 30px;
  height: 20px;
}

.burger span {
  height: 3px;
  width: 100%;
  transform: scale(1);
  background-color: rgb(75, 76, 90);
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: rgb(75, 76, 90);
  transition: all 0.3s ease 0s;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(45deg);
}

.burger.active::after {
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(-45deg);
}

@media (max-width: 1024px) {
  .burger {
    display: flex;
  }
}
.form .form-items .form-checkbox .checkbox-item, .footer .footer__wrapper .footer-content .footer-form .form-items .form-checkbox .checkbox-item, .form .form-message, .footer .footer__wrapper .footer-content .footer-form .form-message, .form .form-item, .footer .footer__wrapper .footer-content .footer-form .form-item {
  border: 2px solid rgb(193, 211, 222);
  border-radius: 12px;
  background-color: transparent;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .form .form-items .form-checkbox .checkbox-item, .footer .footer__wrapper .footer-content .footer-form .form-items .form-checkbox .checkbox-item, .form .form-message, .footer .footer__wrapper .footer-content .footer-form .form-message, .form .form-item, .footer .footer__wrapper .footer-content .footer-form .form-item {
    margin-bottom: 12px;
  }
}
@media (max-width: 431px) {
  .form .form-items .form-checkbox .checkbox-item, .footer .footer__wrapper .footer-content .footer-form .form-items .form-checkbox .checkbox-item, .form .form-message, .footer .footer__wrapper .footer-content .footer-form .form-message, .form .form-item, .footer .footer__wrapper .footer-content .footer-form .form-item {
    margin-bottom: 9px;
  }
}

.form, .footer .footer__wrapper .footer-content .footer-form {
  flex-basis: 50%;
  padding: 60px;
  background-color: rgb(55, 111, 255);
  border-radius: 12px;
}
@media (max-width: 768px) {
  .form, .footer .footer__wrapper .footer-content .footer-form {
    padding: 40px;
  }
}
@media (max-width: 431px) {
  .form, .footer .footer__wrapper .footer-content .footer-form {
    flex-basis: 100vw;
    padding: 40px 5%;
    border-radius: 0;
  }
}
.form .form-title, .footer .footer__wrapper .footer-content .footer-form .form-title {
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-weight: 900;
  line-height: 40px;
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .form .form-title, .footer .footer__wrapper .footer-content .footer-form .form-title {
    font-size: 28px;
    line-height: 36px;
  }
}
@media (max-width: 431px) {
  .form .form-title, .footer .footer__wrapper .footer-content .footer-form .form-title {
    font-size: 7.5vw;
    line-height: 10vw;
  }
}
@media (max-width: 1024px) {
  .form .form-title, .footer .footer__wrapper .footer-content .footer-form .form-title {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .form .form-title, .footer .footer__wrapper .footer-content .footer-form .form-title {
    margin-bottom: 16px;
  }
}
.form .form-item, .footer .footer__wrapper .footer-content .footer-form .form-item {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(193, 211, 222);
  width: 560px;
  height: 60px;
  padding-left: 32px;
}
.form .form-item::-moz-placeholder, .footer .footer__wrapper .footer-content .footer-form .form-item::-moz-placeholder {
  color: rgb(193, 211, 222);
}
.form .form-item::placeholder, .footer .footer__wrapper .footer-content .footer-form .form-item::placeholder {
  color: rgb(193, 211, 222);
}
@media (max-width: 1024px) {
  .form .form-item, .footer .footer__wrapper .footer-content .footer-form .form-item {
    width: 342px;
  }
}
@media (max-width: 768px) {
  .form .form-item, .footer .footer__wrapper .footer-content .footer-form .form-item {
    width: 254px;
  }
}
@media (max-width: 431px) {
  .form .form-item, .footer .footer__wrapper .footer-content .footer-form .form-item {
    width: 100%;
  }
}
.form .form-message, .footer .footer__wrapper .footer-content .footer-form .form-message {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(193, 211, 222);
  width: 560px;
  height: 120px;
  padding-left: 32px;
  padding-top: 18px;
}
.form .form-message::-moz-placeholder, .footer .footer__wrapper .footer-content .footer-form .form-message::-moz-placeholder {
  color: rgb(193, 211, 222);
}
.form .form-message::placeholder, .footer .footer__wrapper .footer-content .footer-form .form-message::placeholder {
  color: rgb(193, 211, 222);
}
@media (max-width: 1024px) {
  .form .form-message, .footer .footer__wrapper .footer-content .footer-form .form-message {
    width: 342px;
  }
}
@media (max-width: 768px) {
  .form .form-message, .footer .footer__wrapper .footer-content .footer-form .form-message {
    width: 254px;
  }
}
@media (max-width: 431px) {
  .form .form-message, .footer .footer__wrapper .footer-content .footer-form .form-message {
    width: 100%;
  }
}
.form .form-items, .footer .footer__wrapper .footer-content .footer-form .form-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .form .form-items, .footer .footer__wrapper .footer-content .footer-form .form-items {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 431px) {
  .form .form-items, .footer .footer__wrapper .footer-content .footer-form .form-items {
    gap: 10px;
  }
}
.form .form-items .form-button, .footer .footer__wrapper .footer-content .footer-form .form-items .form-button {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(55, 111, 255);
  background-color: rgb(255, 255, 255);
  text-align: start;
  flex-basis: 208px;
  height: 60px;
  margin-right: 20px;
  border: none;
  padding: 18px 42px;
}
.form .form-items .form-button::after, .footer .footer__wrapper .footer-content .footer-form .form-items .form-button::after {
  content: url(../../images/Header_footer_img/arrow.svg);
  margin-left: 19px;
}
@media (max-width: 1024px) {
  .form .form-items .form-button, .footer .footer__wrapper .footer-content .footer-form .form-items .form-button {
    flex-basis: 60px;
    margin-right: 0;
    padding: 18px 109px;
  }
}
@media (max-width: 768px) {
  .form .form-items .form-button, .footer .footer__wrapper .footer-content .footer-form .form-items .form-button {
    padding: 18px 65px;
  }
}
@media (max-width: 431px) {
  .form .form-items .form-button, .footer .footer__wrapper .footer-content .footer-form .form-items .form-button {
    width: 100%;
  }
}
.form .form-items .form-checkbox, .footer .footer__wrapper .footer-content .footer-form .form-items .form-checkbox {
  flex-basis: 332px;
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .form .form-items .form-checkbox, .footer .footer__wrapper .footer-content .footer-form .form-items .form-checkbox {
    flex-basis: 48px;
  }
}
.form .form-items .form-checkbox .checkbox-item, .footer .footer__wrapper .footer-content .footer-form .form-items .form-checkbox .checkbox-item {
  width: 20px;
  height: 20px;
}
.form .form-items .form-checkbox .checkbox-text, .footer .footer__wrapper .footer-content .footer-form .form-items .form-checkbox .checkbox-text {
  flex-grow: 0;
  flex-basis: 262px;
  margin-left: 12px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(193, 211, 222);
}
.form .form-items .form-checkbox .checkbox-text .checkbox-link, .footer .footer__wrapper .footer-content .footer-form .form-items .form-checkbox .checkbox-text .checkbox-link {
  color: inherit;
  cursor: pointer;
}

.content-advertising__wrapper, .content-principles__wrapper, .footer .footer__wrapper, .content-clients .content-clients__wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 80px 0;
}
@media (max-width: 1024px) {
  .content-advertising__wrapper, .content-principles__wrapper, .footer .footer__wrapper, .content-clients .content-clients__wrapper {
    max-width: 1024px;
    padding: 60px 40px;
  }
}
@media (max-width: 768px) {
  .content-advertising__wrapper, .content-principles__wrapper, .footer .footer__wrapper, .content-clients .content-clients__wrapper {
    max-width: 768px;
    padding: 40px;
  }
}
@media (max-width: 431px) {
  .content-advertising__wrapper, .content-principles__wrapper, .footer .footer__wrapper, .content-clients .content-clients__wrapper {
    max-width: 100vw;
    padding: 40px 5%;
  }
}

.content-clients .content-clients__wrapper .content-clients__subtitle {
  font-family: "Inter", sans-serif;
  color: rgb(36, 42, 86);
  font-size: 38px;
  font-weight: 900;
  line-height: 40px;
  text-align: center;
  margin-bottom: 60px;
}
@media (max-width: 1024px) {
  .content-clients .content-clients__wrapper .content-clients__subtitle {
    font-size: 28px;
    line-height: 36px;
  }
}
@media (max-width: 431px) {
  .content-clients .content-clients__wrapper .content-clients__subtitle {
    font-size: 7.5vw;
    line-height: 10vw;
  }
}
@media (max-width: 1024px) {
  .content-clients .content-clients__wrapper .content-clients__subtitle {
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .content-clients .content-clients__wrapper .content-clients__subtitle {
    margin-bottom: 32px;
  }
}
.content-clients .content-clients__wrapper .content-clients__items {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-auto-rows: auto;
  place-items: center;
  margin-bottom: 80px;
}
@media (max-width: 1024px) {
  .content-clients .content-clients__wrapper .content-clients__items {
    margin-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .content-clients .content-clients__wrapper .content-clients__items {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 32px;
    gap: 10px;
  }
  .content-clients .content-clients__wrapper .content-clients__items .content-clients_item__position {
    grid-column: 2/3;
  }
}
@media (max-width: 431px) {
  .content-clients .content-clients__wrapper .content-clients__items {
    grid-template-columns: 1fr 1fr;
  }
  .content-clients .content-clients__wrapper .content-clients__items .content-clients_item__position {
    grid-column: 1/2;
  }
}
.content-clients .content-clients__wrapper .content-clients__items .content-clients_item {
  width: 264px;
  height: 111px;
  border: 2px solid rgb(193, 211, 222);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-clients .content-clients__wrapper .content-clients__items .content-clients_item .content-clients_img {
  max-width: 210px;
  max-height: 105px;
}
@media (max-width: 1024px) {
  .content-clients .content-clients__wrapper .content-clients__items .content-clients_item {
    width: 173px;
    height: 72px;
  }
  .content-clients .content-clients__wrapper .content-clients__items .content-clients_item .content-clients_img {
    max-width: 207px;
    max-height: 68px;
  }
  .content-clients .content-clients__wrapper .content-clients__items .content-clients_item .content-clients_img__size {
    max-height: 55px;
  }
}
@media (max-width: 768px) {
  .content-clients .content-clients__wrapper .content-clients__items .content-clients_item {
    width: 164px;
    height: 68px;
  }
  .content-clients .content-clients__wrapper .content-clients__items .content-clients_item .content-clients_img {
    max-width: 160px;
    max-height: 64px;
  }
  .content-clients .content-clients__wrapper .content-clients__items .content-clients_item .content-clients_img__size {
    max-height: 50px;
  }
}
@media (max-width: 431px) {
  .content-clients .content-clients__wrapper .content-clients__items .content-clients_item {
    width: 43.43vw;
    height: 22.19vw;
  }
  .content-clients .content-clients__wrapper .content-clients__items .content-clients_item .content-clients_img {
    max-width: 95%;
    max-height: 95%;
  }
  .content-clients .content-clients__wrapper .content-clients__items .content-clients_item .content-clients_img__size {
    max-height: 95%;
  }
}
.content-clients .content-clients__wrapper .content-call {
  background-color: rgb(55, 111, 255);
  border-radius: 12px;
  padding: 60px 109px 52px 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 42px;
}
@media (max-width: 1024px) {
  .content-clients .content-clients__wrapper .content-call {
    padding: 60px;
    gap: 50px;
  }
}
@media (max-width: 768px) {
  .content-clients .content-clients__wrapper .content-call {
    padding: 40px;
    gap: 21px;
  }
}
@media (max-width: 431px) {
  .content-clients .content-clients__wrapper .content-call {
    flex-direction: column;
    gap: 24px;
    padding: 12.5% 6.25%;
  }
}
.content-clients .content-clients__wrapper .content-call .content-call__description {
  flex-basis: 50%;
}
.content-clients .content-clients__wrapper .content-call .content-call__description .content-call__subtitle {
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-weight: 900;
  line-height: 40px;
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .content-clients .content-clients__wrapper .content-call .content-call__description .content-call__subtitle {
    font-size: 28px;
    line-height: 36px;
  }
}
@media (max-width: 431px) {
  .content-clients .content-clients__wrapper .content-call .content-call__description .content-call__subtitle {
    font-size: 7.5vw;
    line-height: 10vw;
  }
}
@media (max-width: 1024px) {
  .content-clients .content-clients__wrapper .content-call .content-call__description .content-call__subtitle {
    margin-bottom: 24px;
  }
}
@media (max-width: 431px) {
  .content-clients .content-clients__wrapper .content-call .content-call__description .content-call__subtitle {
    font-size: 8.75vw;
  }
}
.content-clients .content-clients__wrapper .content-call .content-call__description .content-call__text {
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 26px;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .content-clients .content-clients__wrapper .content-call .content-call__description .content-call__text {
    font-size: 18px;
    line-height: 26px;
  }
}
@media (max-width: 431px) {
  .content-clients .content-clients__wrapper .content-call .content-call__description .content-call__text {
    font-size: 5vw;
  }
}
.content-clients .content-clients__wrapper .content-call .content-call__tel {
  font-family: "Inter", sans-serif;
  font-size: 68px;
  font-weight: 700;
  line-height: 79px;
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
@media (max-width: 1024px) {
  .content-clients .content-clients__wrapper .content-call .content-call__tel {
    font-size: 40px;
    line-height: 48px;
  }
}
@media (max-width: 768px) {
  .content-clients .content-clients__wrapper .content-call .content-call__tel {
    font-size: 32px;
    line-height: 40px;
  }
}
@media (max-width: 431px) {
  .content-clients .content-clients__wrapper .content-call .content-call__tel {
    align-self: self-start;
    font-size: 8.75vw;
  }
}

.footer {
  background-image: url(../../images/Header_footer_img/bg-img-net.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer .footer__wrapper .footer-content {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content {
    gap: 20px;
  }
}
@media (max-width: 431px) {
  .footer .footer__wrapper .footer-content {
    grid-template-columns: 1fr;
  }
}
.footer .footer__wrapper .footer-content .footer-contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  gap: 40px;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-contacts {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 768px) {
  .footer .footer__wrapper .footer-content .footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
  }
}
@media (max-width: 431px) {
  .footer .footer__wrapper .footer-content .footer-contacts {
    grid-row: 2/3;
  }
}
.footer .footer__wrapper .footer-content .footer-contacts .footer-logo {
  grid-column: 1/3;
}
@media (max-width: 768px) {
  .footer .footer__wrapper .footer-content .footer-contacts .footer-logo {
    max-width: 213px;
  }
  .footer .footer__wrapper .footer-content .footer-contacts .footer-logo .footer-logo__img {
    max-width: 100%;
  }
}
.footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__tel {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
}
.footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__tel-num {
  font-family: "Inter", sans-serif;
  color: rgb(55, 111, 255);
  font-size: 26px;
  font-weight: 600;
  line-height: 130%;
  text-decoration: underline;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__tel-num {
    font-size: 18px;
    line-height: 26px;
  }
}
.footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__tel-second {
  align-self: self-end;
}
@media (max-width: 768px) {
  .footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__tel-second {
    align-self: flex-start;
    margin-top: -22px;
  }
}
.footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__text {
  color: rgb(139, 155, 171);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__text {
    font-size: 16px;
    line-height: 24px;
  }
}
.footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__email {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
}
.footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__email-adress {
  color: rgb(55, 111, 255);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-decoration: underline;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__email-adress {
    font-size: 18px;
    line-height: 26px;
  }
}
.footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__adress {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
}
.footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__adress-text {
  color: rgb(57, 58, 86);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__adress-text {
    font-size: 18px;
    line-height: 26px;
  }
}
.footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__map {
  grid-column: 1/3;
  align-self: self-end;
  height: 320px;
  border-radius: 12px;
  background-image: url(../../images/Header_footer_img/map.jpg);
  background-position: center;
  background-size: cover;
}
@media (max-width: 768px) {
  .footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__map {
    width: 100%;
    height: 215px;
  }
}
@media (max-width: 431px) {
  .footer .footer__wrapper .footer-content .footer-form {
    border-radius: 12px;
    padding: 40px 6.25vw;
  }
  .footer .footer__wrapper .footer-content .footer-form .form-item {
    height: 48px;
  }
}
.footer .footer__wrapper .footer-content .footer-form .footer-form__title {
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-weight: 900;
  line-height: 40px;
  margin-bottom: 24px;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-form .footer-form__title {
    font-size: 28px;
    line-height: 36px;
  }
}
@media (max-width: 431px) {
  .footer .footer__wrapper .footer-content .footer-form .footer-form__title {
    font-size: 7.5vw;
    line-height: 10vw;
  }
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-form .footer-form__title {
    margin-bottom: 16px;
  }
}
@media (max-width: 431px) {
  .footer .footer__wrapper .footer-content .footer-form .footer-form__title {
    font-size: 8.75vw;
  }
}
.footer .footer__wrapper .footer-content .footer-form .form__subtitle {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(255, 255, 255);
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-form .form__subtitle {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-form .form__subtitle {
    margin-bottom: 20px;
  }
}
@media (max-width: 431px) {
  .footer .footer__wrapper .footer-content .footer-form .form-items .form-button {
    height: 48px;
    padding: 12px 19vw;
  }
}
.footer .watermark {
  margin-top: 40px;
  color: rgb(139, 155, 171);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .footer .watermark {
    margin-top: 24px;
  }
}

/*шаблон для всех обычныйх текстов*/
.benefits__collapsible .collapse-details {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

/*mixin для верхней полосы футера жирный текст*/
/*шаблон для верхней полосы футера обычный текст*/
/* Вынести в _template для удобства */
* {
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
}

.header {
  max-width: 100%;
  height: 496px;
  background-image: url(../../images/adwords_img/Header_backgr_adwords.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1024px) {
  .header {
    background-color: transparent;
  }
}
@media (max-width: 431px) {
  .header {
    max-height: -moz-max-content;
    max-height: max-content;
  }
}

.header__title-box {
  max-width: 560px;
  height: 242px;
  margin-left: 260px;
  margin-top: 79px;
  margin-right: 260px;
}
@media screen and (max-width: 550px) {
  .header__title-box {
    max-width: 100%;
    margin-right: 0;
  }
}

.header__title {
  font-family: "Inter", sans-serif;
  font-size: 68px;
  font-weight: 900;
  line-height: 79px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(255, 255, 255);
  margin-bottom: 28px;
}

.header__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 550px) {
  .header__subtitle {
    width: 400px;
  }
}

.container__main {
  max-width: 1920px;
  height: 670px;
  background: url(../../images/seo_img/backgr_search_seo.png);
}
@media screen and (max-width: 1440px) {
  .container__main {
    max-width: 1440px;
    padding-right: 3%;
  }
}
.container__main .wrapper__main {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 80px;
  display: flex;
}
@media screen and (max-width: 1440px) {
  .container__main .wrapper__main {
    max-width: 1440px;
    width: 100%;
  }
}
.container__main .wrapper__main .wrapper__image-comp {
  margin-right: 40px;
}
@media screen and (max-width: 1440px) {
  .container__main .wrapper__main .wrapper__image-comp {
    width: 60%;
  }
}
@media screen and (max-width: 900px) {
  .container__main .wrapper__main .wrapper__image-comp .image__comp {
    max-width: 100%;
  }
}
.container__main .wrapper__main .wrapper__text-comp {
  width: 680px;
  height: 510px;
}
@media screen and (max-width: 1440px) {
  .container__main .wrapper__main .wrapper__text-comp {
    width: 50%;
  }
}
.container__main .wrapper__main .wrapper__text-comp .label__text-comp {
  color: rgb(36, 42, 86);
  font-family: "Inter", sans-serif;
  font-size: 38px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 40px;
}
.container__main .wrapper__main .wrapper__text-comp .line__text-comp {
  color: rgb(36, 42, 86);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 10px;
}

.wrapper__line-text {
  width: 680px;
  height: 144px;
  background-color: #fbf7f1;
  margin-top: 40px;
  border: 1px solid #c1d3de;
  border-radius: 12px;
}
@media screen and (max-width: 1440px) {
  .wrapper__line-text {
    width: 100%;
    height: 170px;
  }
}
.wrapper__line-text .line__text {
  padding: 30px;
  color: rgb(36, 42, 86);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.container__accordeon {
  max-width: 1920px;
  height: 654px;
}
.container__accordeon .wrapper__title-accordeon {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}
.container__accordeon .wrapper__title-accordeon .title__accordeon {
  color: rgb(36, 42, 86);
  font-family: "Inter", sans-serif;
  font-size: 38px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
  padding-bottom: 40px;
  border-bottom: 1px solid #c1d3de;
}
.container__accordeon ::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 5px;
  text-align: center;
  -moz-text-align-last: center;
       text-align-last: center;
  font-size: 16px;
  color: #376fff;
  padding-bottom: 10px;
}
.container__accordeon .li__line {
  list-style: disc;
  margin-left: 27px;
}
.container__accordeon .clr_text {
  color: rgb(36, 42, 86);
  font-size: 20px;
}
.container__accordeon .plus__line {
  border-top: 1px solid #c1d3de;
  padding-top: 20px;
}

.benefits {
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  padding: 80px 14%;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media screen and (max-width: 1024px) {
  .benefits {
    padding: 60px 4%;
  }
}
@media screen and (max-width: 600px) {
  .benefits {
    display: flex;
    flex-direction: column;
    padding: 40px 5%;
  }
}
.benefits .benefits__picture {
  max-width: 670px;
  display: grid;
  align-content: center;
}
.benefits .benefits__picture .benefits__picture_size {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.benefits .betefits__list {
  display: flex;
  flex-direction: column;
}
.benefits .betefits__list .betefits__title {
  color: rgb(36, 42, 86);
  font-family: "Inter", sans-serif;
  font-size: 38px;
  font-weight: 900;
  line-height: 40px;
  border-bottom: 1px solid #c1d3de;
  padding: 40px 0;
}
@media screen and (max-width: 1024px) {
  .benefits .betefits__list .betefits__title {
    font-size: 28px;
    line-height: 36px;
    padding: 24px 0;
  }
}
@media screen and (max-width: 320px) {
  .benefits .betefits__list .betefits__title {
    padding: 20px 0;
    padding-bottom: 32px;
  }
}

.benefits__collapsible {
  border-bottom: 1px solid #c1d3de;
}
.benefits__collapsible .collapse-button__title {
  padding-left: 10px;
  color: rgb(57, 58, 86);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}
@media screen and (max-width: 1024px) {
  .benefits__collapsible .collapse-button__title {
    font-size: 16px;
    line-height: 24px;
  }
}
.benefits__collapsible input {
  display: none;
}
.benefits__collapsible .benefits__information {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
@media screen and (max-width: 768px) {
  .benefits__collapsible .benefits__information {
    padding: 16px 0;
  }
}
@media screen and (max-width: 320px) {
  .benefits__collapsible .benefits__information {
    padding: 12px 0;
  }
}
.benefits__collapsible .collapse-summary .collapse-button {
  width: 22px;
  height: 22px;
  background-size: contain;
  background-image: url(../../images/about_img/circle-plus.png);
  display: inline-block;
}
.benefits__collapsible input:checked ~ .collapse-summary .collapse-button {
  background-image: url(../../images/about_img/circle-minus.png);
}
.benefits__collapsible .collapse-details {
  display: none;
  padding-left: 32px;
  padding-bottom: 20px;
}
@media screen and (max-width: 1024px) {
  .benefits__collapsible .collapse-details {
    font-size: 16px;
    line-height: 24px;
  }
}
.benefits__collapsible input:checked ~ .collapse-details {
  display: block;
}

.container__ {
  max-width: 1920px;
  height: 673px;
}
.container__ .wrapper__title-table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 40px;
}
.container__ .wrapper__title-table .table__title {
  color: rgb(36, 42, 86);
  font-family: "Inter", sans-serif;
  font-size: 38px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
}
.container__ .wrapper__ {
  max-width: 1400px;
  height: 492px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #c1d3de;
  border-radius: 12px;
}
.container__ .wrapper__ .column__service {
  width: 645px;
  border-right: 1px solid #c1d3de;
}
.container__ .wrapper__ .column__work {
  width: 555px;
  border-right: 1px solid #c1d3de;
}
.container__ .wrapper__ .column__price {
  width: 196px;
}
.container__ .wrapper__ .text__column {
  height: 53px;
  color: rgb(36, 42, 86);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  border-top: 1px solid #c1d3de;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.container__ .wrapper__ .first-column {
  font-weight: 700;
  color: rgb(36, 42, 86);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  height: 63px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.container__ .wrapper__ .last-column {
  font-weight: 700;
}
.container__ .wrapper__ .column-grey {
  background-color: #edf4fa;
}

#carouselExampleIndicators {
  display: none;
}

.container__card {
  max-width: 100%;
  height: 822px;
  background-color: #393a56;
}
.container__card .wrapper__card {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
}
.container__card .wrapper__card .wrapper__cup {
  width: 440px;
  margin-right: 40px;
  border-top: 1px solid rgb(139, 155, 171);
}
.container__card .wrapper__card .wrapper__cup .cup__image {
  width: 60px;
  height: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.container__card .wrapper__card .wrapper__cup .little__card-title {
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 24px;
}
.container__card .wrapper__card .wrapper__cup .little__card-line {
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.container__card-title {
  padding-top: 80px;
  margin: 0 auto;
  padding-bottom: 60px;
}
.container__card-title .card__title-cup {
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 38px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
  padding-left: 0;
}

.container__backgrnd {
  background: url(../../images/seo_img/backgr_search_seo.png);
  max-width: 1920px;
  height: 1066px;
}
@media screen and (max-width: 1440px) {
  .container__backgrnd {
    max-width: 1440px;
    height: 1366px;
  }
}

.result__title {
  color: rgb(36, 42, 86);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px;
  padding-top: 80px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.result__container {
  display: flex;
  flex-wrap: nowrap;
  max-width: 1400px;
  margin: 0 auto;
}

.result__text-container {
  width: 560px;
  height: 799px;
  margin-right: 42px;
  margin-bottom: 42px;
}
.result__text-container .result__text-ladel {
  color: rgb(36, 42, 86);
  font-family: "Inter", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 24px;
  margin-top: 20px;
}
.result__text-container .result__text-line {
  color: rgb(36, 42, 86);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 20px;
}

.result__image-container {
  width: 799px;
  height: 799px;
}

.block__element {
  width: 40px;
  height: 2px;
  color: #c1d3de;
}

.content-principles {
  background-image: url(../../images/Header_footer_img/bg-img-net.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.content-principles__wrapper {
  display: flex;
}

.content-principles__img {
  max-width: 680px;
  margin-right: 39px;
}

.content-principles__subtitle {
  font-family: "Inter", sans-serif;
  color: rgb(36, 42, 86);
  font-size: 38px;
  font-weight: 900;
  line-height: 40px;
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .content-principles__subtitle {
    font-size: 28px;
    line-height: 36px;
  }
}
@media (max-width: 431px) {
  .content-principles__subtitle {
    font-size: 7.5vw;
    line-height: 10vw;
  }
}

.content-principles__text-main {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(36, 42, 86);
}
@media (max-width: 1024px) {
  .content-principles__text-main {
    font-size: 16px;
    line-height: 24px;
  }
}

.content-principles__text-add {
  padding: 30px;
  margin: 40px 0;
  background-color: rgb(251, 247, 241);
  border: 1px solid rgb(193, 211, 222);
  border-radius: 12px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(36, 42, 86);
}
@media (max-width: 1024px) {
  .content-principles__text-add {
    font-size: 16px;
    line-height: 24px;
  }
}

.content-advertising {
  background-color: rgb(57, 58, 86);
}

.content-advertising__main-text {
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-weight: 900;
  line-height: 40px;
  text-align: center;
}
@media (max-width: 1024px) {
  .content-advertising__main-text {
    font-size: 28px;
    line-height: 36px;
  }
}
@media (max-width: 431px) {
  .content-advertising__main-text {
    font-size: 7.5vw;
    line-height: 10vw;
  }
}

.content-advertising__items {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 24px;
  justify-content: center;
}

.content-advertising__logo-google {
  max-width: 75px;
}

.content-advertising__logo-social {
  border-top: 1px solid rgb(139, 155, 171);
  display: inline-block;
  padding-top: 40px;
}

.content-advertising__logo-fb {
  margin-right: 12px;
}

.content-advertising__subtitle {
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 24px;
}

.content-advertising__text {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(255, 255, 255);
  margin-bottom: 8px;
}
@media (max-width: 1024px) {
  .content-advertising__text {
    font-size: 16px;
    line-height: 24px;
  }
}

.content-advertising__button {
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(55, 111, 255);
  max-width: 279px;
  max-height: 60px;
  padding: 18px 30px 18px 40px;
}
.content-advertising__button::after {
  content: url(./assets/images/main_img/arrow_wh.svg);
  max-width: 12px;
  margin-left: 20px;
}

@media (max-width: 1024px) {
  .header__title-box {
    margin-left: 40px;
  }
  .container__main {
    height: 570px;
  }
  .container__main .wrapper__main {
    padding-top: 60px;
    max-width: 1024px;
  }
  .container__main .wrapper__main .wrapper__image-comp {
    margin-right: 20px;
  }
  .container__main .wrapper__main .wrapper__image-comp .image__comp {
    width: 462px;
    padding-top: 51px;
    margin-left: 40px;
  }
  .container__main .wrapper__main .wrapper__text-comp {
    width: 462px;
  }
  .container__main .wrapper__main .wrapper__text-comp .line__text-comp {
    font-size: 16px;
    line-height: 24px;
  }
  .container__main .wrapper__main .wrapper__text-comp .label__text-comp {
    font-size: 28px;
    line-height: 36px;
    padding-bottom: 24px;
  }
  .wrapper__line-text {
    width: 450px;
    height: 128px;
    margin-top: 24px;
  }
  .wrapper__line-text .line__text {
    font-size: 16px;
    line-height: 24px;
    padding: 16px;
  }
  .container__accordeon {
    height: 530px;
  }
  .container__accordeon .wrapper__title-accordeon {
    width: 944px;
    margin-top: 40px;
  }
  .container__accordeon .wrapper__title-accordeon .title__accordeon {
    font-size: 28px;
    line-height: 36px;
  }
  .container__accordeon .clr_text {
    font-size: 16px;
    line-height: 24px;
  }
  .container__ {
    max-width: 1024px;
    height: 629px;
  }
  .container__ .wrapper__ {
    width: 942px;
  }
  .container__ .wrapper__ .column__service {
    width: 590px;
  }
  .container__ .wrapper__ .column__work {
    width: 240px;
  }
  .container__ .wrapper__ .column__price {
    width: 112px;
  }
  .container__ .wrapper__ .text__column {
    font-size: 16px;
    line-height: 24px;
    padding-left: 10px;
  }
  .container__ .wrapper__ .first-column {
    font-size: 16px;
    line-height: 24px;
    padding-left: 10px;
  }
  .container__ .wrapper__title-table {
    margin-top: 40px;
  }
  .container__ .wrapper__title-table .table__title {
    font-size: 28px;
    line-height: 36px;
  }
  .container__card {
    max-width: 1024px;
    height: 718px;
  }
  .container__card .container__card-title {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .container__card .container__card-title .card__title-cup {
    font-size: 28px;
    line-height: 36px;
  }
  .container__card .wrapper__card {
    width: 943px;
  }
  .container__card .wrapper__card .wrapper__cup {
    margin-right: 20PX;
  }
  .container__card .wrapper__card .wrapper__cup .cup__image {
    width: 48px;
    height: 48px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .container__card .wrapper__card .wrapper__cup .little__card-title {
    font-size: 18px;
    line-height: 26px;
  }
  .container__card .wrapper__card .wrapper__cup .little__card-line {
    font-size: 16px;
    line-height: 24px;
  }
  .container__backgrnd {
    max-width: 1024px;
    height: 950px;
  }
  .result__container {
    width: 943px;
  }
  .result__title {
    padding-top: 60px;
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 36px;
  }
  .result__text-container {
    width: 426px;
  }
  .result__text-container .result__text-ladel {
    font-size: 18px;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .result__text-container .result__text-line {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0px;
  }
  .result__image-container {
    width: 462px;
    height: 462px;
  }
  .result__image {
    width: inherit;
    margin-top: 150px;
  }
}
#belle_scroll::-webkit-scrollbar {
  width: 5px;
}

#belle_scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(139, 155, 171);
}

#belle_scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: #f9f9fd;
}

@media (max-width: 768px) {
  .header {
    height: 400px;
  }
  .header__title-box {
    max-width: 768px;
  }
  .header__title {
    font-size: 48px;
    line-height: 56px;
    width: 100%;
  }
  .header__subtitle {
    width: 100%;
  }
  .container__main {
    height: 414px;
  }
  .container__main .wrapper__main {
    padding-top: 40px;
    max-width: 768px;
  }
  .container__main .wrapper__main .wrapper__text-comp {
    max-width: 50%;
    height: 364px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .container__main .wrapper__main .wrapper__image-comp {
    margin-right: 20px;
    width: 50%;
  }
  .container__main .wrapper__main .wrapper__image-comp .image__comp {
    margin-right: 10%;
    width: 100%;
  }
  .wrapper__line-text {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
  }
  .container__accordeon {
    height: auto;
    max-width: 768px;
  }
  .container__accordeon .wrapper__title-accordeon {
    width: 92%;
  }
  .container__ {
    max-width: 768px;
    height: 637px;
  }
  .container__ .wrapper__ {
    width: 92%;
  }
  .container__ .wrapper__ .column__service {
    width: 50%;
  }
  .container__ .wrapper__ .column__work {
    width: 34%;
  }
  .container__ .wrapper__ .column__price {
    width: 16%;
  }
  .container__card {
    max-width: 768px;
    height: 852px;
  }
  .container__card .container__card-title {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .container__card .wrapper__card {
    width: 92%;
  }
  .container__card .wrapper__card .wrapper__cup {
    margin-right: 20px;
  }
  .container__card .wrapper__card .wrapper__cup .cup__image {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .container__card .wrapper__card .wrapper__cup .little__card-title {
    margin-bottom: 12px;
  }
  .container__backgrnd {
    max-width: 768px;
    height: 548px;
  }
  .result__container {
    width: 92%;
  }
  .result__title {
    padding-top: 40px;
    margin-bottom: 20px;
    max-width: 92%;
  }
  .result__text-container {
    max-width: 314px;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .result__text-container .result__text-ladel {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .result__text-container .result__text-line {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0px;
  }
  .result__image-container {
    width: 334px;
    height: 334px;
  }
  .result__image {
    width: inherit;
    margin-top: 10px;
  }
}
@media (max-width: 320px) {
  .header {
    height: 320px;
  }
  .header__title-box {
    max-width: 320px;
    margin-left: 4%;
    width: 100%;
    margin-top: 40px;
  }
  .header__title {
    font-size: 32px;
    line-height: 40px;
    width: 100%;
  }
  .header__subtitle {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    margin-right: 4%;
  }
  .container__main {
    max-width: 320px;
    height: 962px;
  }
  .container__main .wrapper__main {
    display: block;
    padding-top: 0px;
    max-width: 320px;
  }
  .container__main .wrapper__main .wrapper__text-comp {
    max-width: 320px;
    height: 100%;
    margin-left: 4%;
    margin-right: 4%;
  }
  .container__main .wrapper__main .wrapper__text-comp .line__text-comp {
    width: 92%;
    margin-right: 4%;
  }
  .container__main .wrapper__main .wrapper__text-comp .label__text-comp {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 92%;
  }
  .container__main .wrapper__main .wrapper__image-comp {
    width: 92%;
  }
  .container__main .wrapper__main .wrapper__image-comp .image__comp {
    margin-right: 0;
    width: 100%;
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 10%;
  }
  .wrapper__line-text {
    width: 92%;
    height: 100%;
    margin-top: 4%;
  }
  .container__accordeon {
    height: 654px;
    max-width: 320px;
  }
  .container__accordeon .wrapper__title-accordeon {
    width: 92%;
    padding-bottom: 30px;
  }
  .container__ {
    max-width: 320px;
    height: auto;
    margin-top: 10%;
  }
  .container__ .wrapper__title-table {
    margin-bottom: 10%;
    padding-top: 15%;
  }
  .container__ .wrapper__ {
    width: 92%;
    height: 100%;
    margin-bottom: 10%;
  }
  .container__ .wrapper__ .first-column {
    padding: 6%;
    font-size: 12px;
    line-height: 16px;
  }
  .container__ .wrapper__ .text__column {
    padding: 6%;
    font-size: 12px;
    line-height: 16px;
  }
  .container__ .wrapper__ .column__service {
    width: 50%;
  }
  .container__ .wrapper__ .column__work {
    width: 25%;
  }
  .container__ .wrapper__ .column__price {
    width: 25%;
  }
  #one_clm {
    height: 48px;
  }
  #three_clm {
    height: 68px;
  }
  #five_clm {
    height: 52px;
  }
  #six_clm {
    height: 100px;
  }
  #eight_clm {
    height: 132px;
  }
  .container__card {
    max-width: 320px;
    height: 874px;
  }
  .container__card .container__card-title {
    padding-top: 40px;
    padding-bottom: 30px;
    width: 92%;
  }
  .container__backgrnd {
    max-width: 320px;
    height: 1632px;
  }
  .result__container {
    width: 92%;
    display: block;
    position: relative;
  }
  .result__title {
    padding-top: 40px;
    margin-bottom: 20px;
    max-width: 90%;
    margin-left: 4%;
  }
  .result__text-container {
    margin-top: 288px;
    max-width: 92%;
    overflow-y: hidden;
    height: 100%;
  }
  .result__text-container .result__text-ladel {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .result__text-container .result__text-line {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0px;
  }
  .result__image {
    width: 288px;
    height: 288px;
    position: absolute;
    top: -290px;
  }
  #wrapper__card {
    display: none;
  }
  #carouselExampleIndicators {
    display: flex;
    border-top: 1px solid rgb(139, 155, 171);
    width: 92%;
    margin-left: 4%;
    height: 65%;
  }
  .container-offer__box-content {
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-right: 4%;
    margin-bottom: 4%;
  }
  .container-offer__box-title {
    font-weight: 700;
    margin-bottom: 12px;
    margin-top: 24px;
  }
  .carousel-control-next-icon {
    position: absolute;
    top: 100%;
    right: calc(100% - 35px);
    background-image: none;
  }
  .carousel-control-prev-icon {
    position: absolute;
    top: 100%;
    left: calc(100% - 40px);
    background-image: none;
  }
  #cup__image {
    margin-top: 24px;
  }
  .carousel-indicators {
    margin-bottom: 0;
  }
}
@media (max-width: 700px) {
  .container__ {
    max-width: 700px;
    height: auto;
    margin-top: 10%;
  }
  .container__ .wrapper__title-table {
    margin-bottom: 10%;
  }
  .container__ .wrapper__ {
    width: 92%;
    height: 100%;
    margin-bottom: 10%;
  }
  .container__ .wrapper__ .first-column {
    padding: 6%;
    font-size: 12px;
    line-height: 16px;
  }
  .container__ .wrapper__ .text__column {
    padding: 6%;
    font-size: 12px;
    line-height: 16px;
  }
  .container__ .wrapper__ .column__service {
    width: 47%;
  }
  .container__ .wrapper__ .column__work {
    width: 28%;
  }
  .container__ .wrapper__ .column__price {
    width: 25%;
  }
  #one_clm {
    height: 48px;
  }
  #three_clm {
    height: 68px;
  }
  #five_clm {
    height: 52px;
  }
  #six_clm {
    height: 100px;
  }
  #eight_clm {
    height: 132px;
  }
  .container__card {
    max-width: 700px;
    height: 874px;
  }
  .container__card .container__card-title {
    padding-top: 40px;
    padding-bottom: 30px;
    width: 92%;
  }
  .container__backgrnd {
    max-width: 700px;
    height: 1632px;
  }
  .result__container {
    width: 92%;
    display: block;
    position: relative;
  }
  .result__title {
    padding-top: 40px;
    margin-bottom: 20px;
    max-width: 90%;
    margin-left: 4%;
  }
  .result__text-container {
    margin-top: 288px;
    max-width: 92%;
    overflow-y: hidden;
    height: 100%;
  }
  .result__text-container .result__text-ladel {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .result__text-container .result__text-line {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0px;
  }
  .result__image {
    width: 288px;
    height: 288px;
    position: absolute;
    top: -280px;
  }
  #wrapper__card {
    display: none;
  }
  #carouselExampleIndicators {
    display: flex;
    border-top: 1px solid rgb(139, 155, 171);
    width: 92%;
    margin-left: 4%;
    height: 65%;
  }
  .container-offer__box-content {
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-right: 4%;
    margin-bottom: 4%;
  }
  .container-offer__box-title {
    font-weight: 700;
    margin-bottom: 12px;
    margin-top: 24px;
  }
  .carousel-control-next-icon {
    position: absolute;
    top: 100%;
    right: calc(100% - 35px);
    background-image: none;
  }
  .carousel-control-prev-icon {
    position: absolute;
    top: 100%;
    left: calc(100% - 40px);
    background-image: none;
  }
  #cup__image {
    margin-top: 24px;
  }
  .carousel-indicators {
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .container__main .wrapper__main .wrapper__image-comp .image__comp {
    margin-left: 0;
  }
}
@media (max-width: 400px) {
  .header__title {
    font-size: 32px;
  }
}/*# sourceMappingURL=seoStyle.css.map */