@charset "UTF-8";
.footer .footer__wrapper .footer-content .footer-form .form-items .form-button, .header-top .header-wrapper .header-top__buttons .header-top__button {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border-radius: 12px;
  cursor: pointer;
}

.header-top {
  padding: 24px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top .header-logo__dark {
  display: none;
}
@media (max-width: 1024px) {
  .header-top {
    max-width: 1024px;
    padding: 16px 40px;
  }
  .header-top .header-logo__white {
    display: none;
  }
  .header-top .header-logo__dark {
    display: inline-flex;
  }
}
.header-top .header-wrapper {
  display: flex;
}
.header-top .header-wrapper .header-nav {
  display: flex;
  align-items: center;
}
.header-top .header-wrapper .header-nav .header-nav__items {
  display: flex;
  gap: 40px;
  align-items: center;
}
.header-top .header-wrapper .header-nav .header-nav__items .header-nav__link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 200%;
  color: rgb(193, 211, 222);
  text-decoration: none;
}
.header-top .header-wrapper .header-nav .header-nav__items .header-nav__link:hover {
  color: rgb(255, 255, 255);
}
.header-top .header-wrapper .header-nav .header-nav__items .active-page {
  padding-bottom: 35px;
  color: rgb(255, 255, 255);
  border-bottom: 4px solid rgb(255, 255, 255);
}
@media (max-width: 1024px) {
  .header-top .header-wrapper .header-nav {
    display: none;
  }
}
.header-top .header-wrapper .header-top__buttons {
  display: flex;
  margin-left: 60px;
}
.header-top .header-wrapper .header-top__buttons .header-top__connect {
  margin-right: 24px;
}
.header-top .header-wrapper .header-top__buttons .header-top__button {
  padding: 14px 24px;
  color: rgb(193, 211, 222);
  background-color: transparent;
  border: 1px solid rgb(193, 211, 222);
}
.header-top .header-wrapper .header-top__buttons .header-top__button:hover {
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}
.header-top .header-wrapper .header-top__buttons .header-top__burger {
  display: none;
}
@media (max-width: 1024px) {
  .header-top .header-wrapper .header-top__buttons {
    margin-left: 0;
    gap: 24px;
  }
  .header-top .header-wrapper .header-top__buttons .header-top__connect {
    margin-right: 0;
  }
  .header-top .header-wrapper .header-top__buttons .header-top__burger {
    display: inline-flex;
  }
  .header-top .header-wrapper .header-top__buttons .header-top__burger .header-top__burger-img {
    align-self: center;
    width: 24px;
    height: 24px;
  }
  .header-top .header-wrapper .header-top__buttons .header-top__button {
    color: rgb(139, 155, 171);
    border: 1px solid rgb(55, 111, 255);
  }
  .header-top .header-wrapper .header-top__buttons .header-top__button:hover {
    border: 1px solid rgb(55, 111, 255);
    color: rgb(55, 111, 255);
  }
}

.footer .footer__wrapper .footer-content .footer-form .form-items .form-checkbox .checkbox-item, .footer .footer__wrapper .footer-content .footer-form .form-message, .footer .footer__wrapper .footer-content .footer-form .form-item {
  border: 2px solid rgb(193, 211, 222);
  border-radius: 12px;
  background-color: transparent;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-form .form-items .form-checkbox .checkbox-item, .footer .footer__wrapper .footer-content .footer-form .form-message, .footer .footer__wrapper .footer-content .footer-form .form-item {
    margin-bottom: 12px;
  }
}

.footer .footer__wrapper .footer-content .footer-form {
  flex-basis: 50%;
  padding: 60px;
  background-color: rgb(55, 111, 255);
  border-radius: 12px;
}
@media (max-width: 768px) {
  .footer .footer__wrapper .footer-content .footer-form {
    padding: 40px;
  }
}
.footer .footer__wrapper .footer-content .footer-form .form-title {
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-weight: 900;
  line-height: 40px;
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-form .form-title {
    font-size: 28px;
    line-height: 36px;
  }
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-form .form-title {
    font-size: 28px;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .footer .footer__wrapper .footer-content .footer-form .form-title {
    font-size: 28px;
    margin-bottom: 16px;
  }
}
.footer .footer__wrapper .footer-content .footer-form .form-item {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(193, 211, 222);
  width: 560px;
  height: 60px;
  padding-left: 32px;
}
.footer .footer__wrapper .footer-content .footer-form .form-item::-moz-placeholder {
  color: rgb(193, 211, 222);
}
.footer .footer__wrapper .footer-content .footer-form .form-item::placeholder {
  color: rgb(193, 211, 222);
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-form .form-item {
    width: 342px;
  }
}
@media (max-width: 768px) {
  .footer .footer__wrapper .footer-content .footer-form .form-item {
    width: 254px;
  }
}
.footer .footer__wrapper .footer-content .footer-form .form-message {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(193, 211, 222);
  width: 560px;
  height: 120px;
  padding-left: 32px;
  padding-top: 18px;
}
.footer .footer__wrapper .footer-content .footer-form .form-message::-moz-placeholder {
  color: rgb(193, 211, 222);
}
.footer .footer__wrapper .footer-content .footer-form .form-message::placeholder {
  color: rgb(193, 211, 222);
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-form .form-message {
    width: 342px;
  }
}
@media (max-width: 768px) {
  .footer .footer__wrapper .footer-content .footer-form .form-message {
    width: 254px;
  }
}
.footer .footer__wrapper .footer-content .footer-form .form-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-form .form-items {
    flex-direction: column;
    gap: 20px;
  }
}
.footer .footer__wrapper .footer-content .footer-form .form-items .form-button {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(55, 111, 255);
  background-color: rgb(255, 255, 255);
  text-align: start;
  flex-basis: 208px;
  height: 60px;
  margin-right: 20px;
  border: none;
  padding: 18px 42px;
}
.footer .footer__wrapper .footer-content .footer-form .form-items .form-button::after {
  content: url(../../images/Header_footer_img/arrow.svg);
  margin-left: 19px;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-form .form-items .form-button {
    flex-basis: 60px;
    margin-right: 0;
    padding: 18px 109px;
  }
}
@media (max-width: 768px) {
  .footer .footer__wrapper .footer-content .footer-form .form-items .form-button {
    padding: 18px 65px;
  }
}
.footer .footer__wrapper .footer-content .footer-form .form-items .form-checkbox {
  flex-basis: 332px;
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-form .form-items .form-checkbox {
    flex-basis: 48px;
  }
}
.footer .footer__wrapper .footer-content .footer-form .form-items .form-checkbox .checkbox-item {
  width: 20px;
  height: 20px;
}
.footer .footer__wrapper .footer-content .footer-form .form-items .form-checkbox .checkbox-text {
  flex-grow: 0;
  flex-basis: 262px;
  margin-left: 12px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(193, 211, 222);
}
.footer .footer__wrapper .footer-content .footer-form .form-items .form-checkbox .checkbox-text .checkbox-link {
  color: inherit;
  cursor: pointer;
}

.footer .footer__wrapper, .content-clients .content-clients__wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 80px 0;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper, .content-clients .content-clients__wrapper {
    max-width: 1024px;
    padding: 60px 40px;
  }
}
@media (max-width: 768px) {
  .footer .footer__wrapper, .content-clients .content-clients__wrapper {
    max-width: 768px;
    padding: 40px;
  }
}

.content-clients .content-clients__wrapper .content-clients__subtitle {
  font-family: "Inter", sans-serif;
  color: rgb(36, 42, 86);
  font-size: 38px;
  font-weight: 900;
  line-height: 40px;
  text-align: center;
  margin-bottom: 60px;
}
@media (max-width: 1024px) {
  .content-clients .content-clients__wrapper .content-clients__subtitle {
    font-size: 28px;
    line-height: 36px;
  }
}
@media (max-width: 1024px) {
  .content-clients .content-clients__wrapper .content-clients__subtitle {
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .content-clients .content-clients__wrapper .content-clients__subtitle {
    margin-bottom: 32px;
  }
}
.content-clients .content-clients__wrapper .content-clients__items {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-auto-rows: auto;
  place-items: center;
  margin-bottom: 80px;
}
@media (max-width: 1024px) {
  .content-clients .content-clients__wrapper .content-clients__items {
    margin-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .content-clients .content-clients__wrapper .content-clients__items {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 32px;
    gap: 10px;
  }
  .content-clients .content-clients__wrapper .content-clients__items .content-clients_item__position {
    grid-column: 2/3;
  }
}
.content-clients .content-clients__wrapper .content-clients__items .content-clients_item {
  width: 264px;
  height: 111px;
  border: 2px solid rgb(193, 211, 222);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-clients .content-clients__wrapper .content-clients__items .content-clients_item .content-clients_img {
  max-width: 210px;
  max-height: 105px;
}
@media (max-width: 1024px) {
  .content-clients .content-clients__wrapper .content-clients__items .content-clients_item {
    width: 173px;
    height: 72px;
  }
  .content-clients .content-clients__wrapper .content-clients__items .content-clients_item .content-clients_img {
    max-width: 207px;
    max-height: 68px;
  }
  .content-clients .content-clients__wrapper .content-clients__items .content-clients_item .content-clients_img__size {
    max-height: 55px;
  }
}
@media (max-width: 768px) {
  .content-clients .content-clients__wrapper .content-clients__items .content-clients_item {
    width: 164px;
    height: 68px;
  }
  .content-clients .content-clients__wrapper .content-clients__items .content-clients_item .content-clients_img {
    max-width: 160px;
    max-height: 64px;
  }
  .content-clients .content-clients__wrapper .content-clients__items .content-clients_item .content-clients_img__size {
    max-height: 50px;
  }
}
.content-clients .content-clients__wrapper .content-call {
  background-color: rgb(55, 111, 255);
  border-radius: 12px;
  padding: 60px 109px 52px 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 42px;
}
@media (max-width: 1024px) {
  .content-clients .content-clients__wrapper .content-call {
    padding: 60px;
    gap: 50px;
  }
}
@media (max-width: 768px) {
  .content-clients .content-clients__wrapper .content-call {
    padding: 40px;
    gap: 21px;
  }
}
.content-clients .content-clients__wrapper .content-call .content-call__description {
  flex-basis: 50%;
}
.content-clients .content-clients__wrapper .content-call .content-call__description .content-call__subtitle {
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-weight: 900;
  line-height: 40px;
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .content-clients .content-clients__wrapper .content-call .content-call__description .content-call__subtitle {
    font-size: 28px;
    line-height: 36px;
  }
}
@media (max-width: 1024px) {
  .content-clients .content-clients__wrapper .content-call .content-call__description .content-call__subtitle {
    margin-bottom: 24px;
  }
}
.content-clients .content-clients__wrapper .content-call .content-call__description .content-call__text {
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 26px;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .content-clients .content-clients__wrapper .content-call .content-call__description .content-call__text {
    font-size: 18px;
    line-height: 26px;
  }
}
.content-clients .content-clients__wrapper .content-call .content-call__tel {
  font-family: "Inter", sans-serif;
  font-size: 68px;
  font-weight: 700;
  line-height: 79px;
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
@media (max-width: 1024px) {
  .content-clients .content-clients__wrapper .content-call .content-call__tel {
    font-size: 40px;
    line-height: 48px;
  }
}
@media (max-width: 768px) {
  .content-clients .content-clients__wrapper .content-call .content-call__tel {
    font-size: 32px;
    line-height: 40px;
  }
}

.footer {
  background-image: url(../../images/Header_footer_img/bg-img-net.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer .footer__wrapper .footer-content {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content {
    gap: 20px;
  }
}
.footer .footer__wrapper .footer-content .footer-contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  gap: 40px;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-contacts {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 768px) {
  .footer .footer__wrapper .footer-content .footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
  }
}
.footer .footer__wrapper .footer-content .footer-contacts .footer-logo {
  grid-column: 1/3;
}
@media (max-width: 768px) {
  .footer .footer__wrapper .footer-content .footer-contacts .footer-logo {
    max-width: 213px;
  }
  .footer .footer__wrapper .footer-content .footer-contacts .footer-logo .footer-logo__img {
    max-width: 100%;
  }
}
.footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__tel {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
}
.footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__tel-num {
  font-family: "Inter", sans-serif;
  color: rgb(55, 111, 255);
  font-size: 26px;
  font-weight: 600;
  line-height: 130%;
  text-decoration: underline;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__tel-num {
    font-size: 18px;
    line-height: 26px;
  }
}
.footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__tel-second {
  align-self: self-end;
}
@media (max-width: 768px) {
  .footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__tel-second {
    align-self: flex-start;
    margin-top: -22px;
  }
}
.footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__text {
  color: rgb(139, 155, 171);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__text {
    font-size: 16px;
    line-height: 24px;
  }
}
.footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__email {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
}
.footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__email-adress {
  color: rgb(55, 111, 255);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-decoration: underline;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__email-adress {
    font-size: 18px;
    line-height: 26px;
  }
}
.footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__adress {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
}
.footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__adress-text {
  color: rgb(57, 58, 86);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__adress-text {
    font-size: 18px;
    line-height: 26px;
  }
}
.footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__map {
  grid-column: 1/3;
  align-self: self-end;
  height: 320px;
  border-radius: 12px;
  background-image: url(../../images/Header_footer_img/map.jpg);
  background-position: center;
  background-size: cover;
}
@media (max-width: 768px) {
  .footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__map {
    width: 100%;
    height: 215px;
  }
}
.footer .footer__wrapper .footer-content .footer-form .footer-form__title {
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-weight: 900;
  line-height: 40px;
  margin-bottom: 24px;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-form .footer-form__title {
    font-size: 28px;
    line-height: 36px;
  }
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-form .footer-form__title {
    margin-bottom: 16px;
  }
}
.footer .footer__wrapper .footer-content .footer-form .form__subtitle {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(255, 255, 255);
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-form .form__subtitle {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-form .form__subtitle {
    margin-bottom: 20px;
  }
}
.footer .watermark {
  margin-top: 40px;
  color: rgb(139, 155, 171);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .footer .watermark {
    margin-top: 24px;
  }
}

/*шаблон для всех обычныйх текстов*/
/*mixin для верхней полосы футера жирный текст*/
/*шаблон для верхней полосы футера обычный текст*/
/* Вынести в _template для удобства */
.section10, .section9, .section8, .section7, .section6, .section5, .section4, .section3, .section2, .section1 {
  /*padding: 80px 13.5vw;*/
  padding: 80px 0;
}

.section10__block, .section10 .section10__border, .section9, .section8 .section8__list, .section7, .section6, .section5 .section5__grid, .section5 .section5__header, .section4 .section4__grid, .section3__border, .section3 .section3__header, .section2__border, .section1 .section1__grid {
  margin: 0 auto;
  max-width: 1400px;
}

* {
  box-sizing: border-box;
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
}

.title2 {
  font-family: "Inter", sans-serif;
  font-size: 38px;
  font-weight: 900;
  line-height: 40px;
}

.title3 {
  font-family: "Inter", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.emphasized {
  font-weight: 700;
}

.text2 {
  font-family: "Inter", sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 34px;
  padding-top: 24px;
}

.header-cell {
  border: 1px solid rgb(193, 211, 222);
  padding: 20px;
}

.cell {
  border: 1px solid rgb(193, 211, 222);
  padding: 13px 20px;
}

/* Header: лого + меню + кнопки */
/* Header: заголовок сайта */
.header {
  width: 100vw;
  height: 496px;
  background-color: #000;
  background-image: url("../../images/smm_img/smm-header-bg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
}
.header .header__main {
  height: 400px;
  max-width: 800px;
  margin-left: 260px;
}
.header .header__main .header__title {
  font-family: "Inter", sans-serif;
  font-size: 68px;
  font-weight: 900;
  line-height: 79px;
}

/* Section 1 - Ведение соц.сетей */
.section1 {
  background-image: url("../../images/smm_img/smm-section-bgImg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.section1 .section1__grid {
  display: grid;
  grid-template-columns: 680px 1fr;
  grid-template-rows: 1fr 1.5fr 2fr;
  grid-gap: 40px;
  color: rgb(36, 42, 86);
}
.section1 .section1__grid .section1-grid__block1 {
  grid-area: 1/1/5/2;
  align-self: center;
}
.section1 .section1__grid .section1-grid__block4 {
  display: grid;
  grid-template-columns: 91px 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: rgb(251, 247, 241);
  border: 1px solid rgb(193, 211, 222);
  border-radius: 12px;
  padding: 15px 30px;
}

/* Section 2 - Пример контент-плана на месяц */
.section2 {
  padding-bottom: 95px;
  color: rgb(57, 58, 86);
}

.section2__header {
  margin: 0 auto;
  max-width: 920px;
  padding-bottom: 60px;
  text-align: center;
  color: rgb(36, 42, 86);
}

.section2__border {
  border: 1px solid rgb(193, 211, 222);
  border-radius: 12px;
}
.section2__border .section2__table {
  border: hidden;
  width: 100%;
}
.section2__border .section2__table .cell {
  border: 1px solid rgb(193, 211, 222);
}
.section2__border .section2__table .custom-width1 {
  width: 14.53vw;
}
.section2__border .section2__table .custom-width2 {
  width: 33.75vw;
}
.section2__border .section2__table .even {
  background-color: rgb(237, 244, 250);
}
.section2__border .section2__table .row5-cell_space {
  display: block;
  height: 8px;
}
.section2__border .section2__table .row4__cell-link {
  color: rgb(55, 111, 255);
}

/* Круглые угла у таблиц */
.round-tl {
  border-top-left-radius: 12px;
}

.round-tr {
  border-top-right-radius: 12px;
}

.round-bl {
  border-bottom-left-radius: 12px;
}

.round-br {
  border-bottom-right-radius: 12px;
}

/* Section 3 - Структура коммуникации */
.section3 {
  background-image: url("../../images/smm_img/smm-section-bgImg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #393a56;
}
.section3 .section3__header {
  text-align: center;
}

/* Таблица по структуре коммуникации */
.section3__border {
  border: 1px solid rgb(193, 211, 222);
  border-radius: 12px;
  margin-top: 60px;
}
.section3__border .section3__table {
  border: hidden;
  width: 100%;
}
.section3__border .section3__table .row1__cell {
  width: 14.53vw;
}
.section3__border .section3__table .odd {
  background-color: rgb(255, 255, 255);
}

/* Стилизация иконок списка в таблице третьего section */
.row3-cell__item {
  background: url(../../images/smm_img/smm-list-icon.svg) no-repeat 0px 12px;
  padding-left: 18px;
  padding-bottom: 8px;
}

/* Section 4 - Таргетированная реклама */
.section4 {
  color: rgb(36, 42, 86);
}
.section4 .section4__header {
  text-align: center;
}
.section4 .section4__grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 799px;
  grid-gap: 43px;
}
.section4 .section4__grid .section4-grid__block1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.85fr 0.75fr 1fr 2px 1fr;
  grid-gap: 24px;
}
.section4 .section4__grid .section4-grid__block1 .block1__element {
  width: 40px;
  height: 2px;
  background-color: rgb(193, 211, 222);
}
.section4 .section4__grid .section4-grid__block2 {
  align-self: center;
}

/* Section 5 - Почему нежно использовать таргетированную рекламу в FB и Инстаграме */
.section5 {
  color: rgb(255, 255, 255);
  background-color: rgb(57, 58, 86);
}
.section5 .section5__header {
  text-align: center;
}
.section5 .section5__grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}
.section5 .section5__grid .section5-grid__block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 2fr 2.5fr;
  grid-gap: 28px;
}
.section5 .section5__grid .section5-grid__block .section5-grid__element {
  max-width: 320px;
  height: 2px;
  border: 1px solid rgb(139, 155, 171);
}

/* Section 6 - Настройки таргетинга в FB и Instagram */
.section6 {
  color: rgb(36, 42, 86);
}
.section6 .section6__text {
  padding-top: 24px;
}
.section6 .section6__block {
  margin-top: 60px;
}
.section6 .section6__block .section6-block__table {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}

.section6-block__item {
  background: url("../../images/smm_img/smm-checked-icon.svg") no-repeat 0px 3px;
  padding-left: 44px;
  padding-bottom: 20px;
}

.section6-block__item__downsized {
  font-size: 16px;
  line-height: 22px;
}

/* Section 7 - Настройка рекламы по базе клиентов и похожей аудитории */
.section7 {
  color: rgb(36, 42, 86);
  padding-top: 0;
}
.section7 .section7__header .section7__text {
  padding-top: 24px;
}
.section7 .section7__grid {
  padding-top: 60px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 1fr 3.5fr;
  grid-gap: 40px;
}
.section7 .section7__grid .section7-block1__list {
  padding-top: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
.section7 .section7__grid .section7-block1__list .section7-block1__item {
  list-style: none;
  background-image: url("../../images/smm_img/smm-checked-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 5%;
  padding-left: 44px;
}
.section7 .section7__grid .section7-grid__block3-text {
  padding-top: 0;
}
.section7 .section7__grid .section7-grid__block4 {
  padding: 40px;
  background-color: rgb(237, 244, 250);
  border-radius: 12px;
  border: 1px solid rgb(193, 211, 222);
}
.section7 .section7__grid .section7-grid__block4 .section7-grid__block4-text {
  padding-top: 16px;
}

/* Section 8 - Цели рекламной кампании */
.section8 {
  color: rgb(36, 42, 86);
  background-image: url("../../images/smm_img/smm-section-bgImg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.section8 .section8__header {
  text-align: center;
}
.section8 .section8__header .section8__text {
  margin: 0 auto;
  max-width: 920px;
  padding-top: 24px;
}
.section8 .section8__list {
  margin-top: 60px;
  border-radius: 12px;
  border: 0.5px solid rgb(193, 211, 222);
}
.section8 .section8__list .section8-list__block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  /*border: 0.5px solid $color_nav_form;*/
  border-radius: 12px;
}
.section8 .section8__list .section8-list__block .section8-list__item {
  padding: 20px;
  display: grid;
  grid-template-columns: 24px 1fr;
  grid-gap: 16px;
  align-self: center;
  border: 0.5px solid rgb(193, 211, 222);
}
.section8 .section8__list .section8-list__block .section8-list__item .odd {
  background-color: rgb(255, 255, 255);
}
.section8 .section8__list .section8-list__block .odd {
  background-color: rgb(255, 255, 255);
}
.section8 .section8__list .section8-list__block .round-tl {
  border-top-left-radius: 12px;
}
.section8 .section8__list .section8-list__block .round-tr {
  border-top-right-radius: 12px;
}
.section8 .section8__list .section8-list__block .round-bl {
  border-bottom-left-radius: 12px;
}
.section8 .section8__list .section8-list__block .round-br {
  border-bottom-right-radius: 12px;
}
.section8 .section8__list .section8-list__block .item-merged1 {
  grid-area: 4/1/8/2;
  align-self: stretch;
  border: 0.5px solid rgb(193, 211, 222);
  border-top: none;
}
.section8 .section8__list .section8-list__block .item-merged2 {
  grid-area: 4/3/8/4;
  align-self: stretch;
  border: 0.5px solid rgb(193, 211, 222);
  border-bottom-right-radius: 12px;
}

/* Section 9 */
.section9 {
  color: rgb(36, 42, 86);
}
.section9 .section9__block {
  margin-top: 40px;
  border-top: 1px solid rgb(193, 211, 222);
}
.section9 .section9__block .section9-block__item {
  padding: 20px 0;
  display: grid;
  grid-template: 1fr/24px 1fr;
  grid-gap: 20px;
  border-bottom: 1px solid rgb(193, 211, 222);
}
.section9 .section9__block .section9-block__item .section9-block__item-text1 {
  padding: 12px 0 8px 0;
}
.section9 .section9__block .section9-block__item .section9-block__item-title2 {
  padding-bottom: 4px;
}
.section9 .section9__block .section9-block__item2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
}
.section9 .section9__block .section9-block__item2 .section9-block__item2-block {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 24px 1fr;
  grid-gap: 20px;
  align-self: center;
  border-bottom: 1px solid rgb(193, 211, 222);
}

/* Section 10 - Стоимость услуг */
.section10 {
  background-image: url("../../images/smm_img/smm-section-bgImg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.section10 .section10__title {
  text-align: center;
  margin-bottom: 60px;
}
.section10 .section10__border {
  border: 1px solid rgb(193, 211, 222);
  border-radius: 12px;
}
.section10 .section10__border .section10__table {
  border: hidden;
  width: 100%;
}
.section10 .section10__border .odd {
  background-color: rgb(255, 255, 255);
}
.section10 .section10__border .row1__cell {
  width: 11.47vw;
}

.section10__block {
  margin-top: 61px;
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-gap: 20px;
  align-items: center;
  padding: 40px;
  border-radius: 12px;
  border: 1px solid rgb(193, 211, 222);
  background-color: rgb(237, 244, 250);
}

/* Section 11 - Клиенты, которые нам доверяют */
/* Footer *//*# sourceMappingURL=smmStyle.css.map */