@charset "UTF-8";
.footer .footer__wrapper .footer-content .footer-form .form-items .form-button, .header-top .header-wrapper .header-top__buttons .header-top__button {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border-radius: 12px;
  cursor: pointer;
}

.open {
  display: flex !important;
}

.header-top {
  padding: 24px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top .header-logo__dark {
  display: none;
}
@media (max-width: 1024px) {
  .header-top {
    display: flex;
    width: 100%;
    background-color: #fff;
    padding: 16px 40px;
  }
  .header-top .header-logo__white {
    display: none;
  }
  .header-top .header-logo__dark {
    display: inline-flex;
  }
}
@media (max-width: 431px) {
  .header-top {
    padding: 14px 16px;
  }
}
.header-top .header-wrapper {
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .header-top .header-wrapper {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    width: 100%;
    height: 568px;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 20px 4%;
    background-color: #fff;
  }
}
.header-top .header-wrapper .header-nav {
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .header-top .header-wrapper .header-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.header-top .header-wrapper .header-nav .header-nav__items {
  display: flex;
  gap: 40px;
  align-items: center;
}
@media (max-width: 1024px) {
  .header-top .header-wrapper .header-nav .header-nav__items {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
  }
}
.header-top .header-wrapper .header-nav .header-nav__items .header-nav__link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 200%;
  color: rgb(193, 211, 222);
  text-decoration: none;
}
@media (max-width: 1024px) {
  .header-top .header-wrapper .header-nav .header-nav__items .header-nav__link {
    color: rgb(139, 155, 171);
  }
}
.header-top .header-wrapper .header-nav .header-nav__items .header-nav__link:hover {
  color: rgb(255, 255, 255);
}
@media (max-width: 1024px) {
  .header-top .header-wrapper .header-nav .header-nav__items .header-nav__link:hover {
    color: rgb(55, 111, 255);
  }
}
.header-top .header-wrapper .header-nav .header-nav__items .active-page {
  padding-bottom: 35px;
  color: rgb(255, 255, 255);
  border-bottom: 4px solid rgb(255, 255, 255);
}
@media (max-width: 1024px) {
  .header-top .header-wrapper .header-nav .header-nav__items .active-page {
    border-bottom: none;
    color: rgb(139, 155, 171);
  }
}
.header-top .header-wrapper .header-top__buttons {
  display: flex;
  margin-left: 60px;
}
@media (max-width: 1024px) {
  .header-top .header-wrapper .header-top__buttons {
    margin-top: 32px;
    flex-direction: column;
    gap: 32px;
  }
}
.header-top .header-wrapper .header-top__buttons .header-top__connect {
  margin-right: 24px;
}
.header-top .header-wrapper .header-top__buttons .header-top__button {
  padding: 14px 24px;
  color: rgb(193, 211, 222);
  background-color: transparent;
  border: 1px solid rgb(193, 211, 222);
}
.header-top .header-wrapper .header-top__buttons .header-top__button:hover {
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}
@media (max-width: 1024px) {
  .header-top .header-wrapper .header-top__buttons {
    margin-left: 0;
    margin-right: 24px;
    gap: 24px;
  }
  .header-top .header-wrapper .header-top__buttons .header-top__connect {
    margin-right: 0;
  }
  .header-top .header-wrapper .header-top__buttons .header-top__button {
    width: 288px;
    color: rgb(139, 155, 171);
    border: 1px solid rgb(55, 111, 255);
  }
  .header-top .header-wrapper .header-top__buttons .header-top__button:hover {
    border: 1px solid rgb(55, 111, 255);
    color: rgb(55, 111, 255);
  }
}

.burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  width: 30px;
  height: 20px;
}

.burger span {
  height: 3px;
  width: 100%;
  transform: scale(1);
  background-color: rgb(75, 76, 90);
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: rgb(75, 76, 90);
  transition: all 0.3s ease 0s;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(45deg);
}

.burger.active::after {
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(-45deg);
}

@media (max-width: 1024px) {
  .burger {
    display: flex;
  }
}
.header-title {
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 68px;
  font-weight: 900;
  line-height: 79px;
}
@media (max-width: 768px) {
  .header-title {
    font-size: 48px;
    line-height: 56px;
  }
}
@media (max-width: 431px) {
  .header-title {
    font-size: 10vw;
    line-height: 40px;
  }
}

.footer .footer__wrapper .footer-content .footer-form .form-items .form-checkbox .checkbox-item, .footer .footer__wrapper .footer-content .footer-form .form-message, .footer .footer__wrapper .footer-content .footer-form .form-item {
  border: 2px solid rgb(193, 211, 222);
  border-radius: 12px;
  background-color: transparent;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-form .form-items .form-checkbox .checkbox-item, .footer .footer__wrapper .footer-content .footer-form .form-message, .footer .footer__wrapper .footer-content .footer-form .form-item {
    margin-bottom: 12px;
  }
}
@media (max-width: 431px) {
  .footer .footer__wrapper .footer-content .footer-form .form-items .form-checkbox .checkbox-item, .footer .footer__wrapper .footer-content .footer-form .form-message, .footer .footer__wrapper .footer-content .footer-form .form-item {
    margin-bottom: 9px;
  }
}

.footer .footer__wrapper .footer-content .footer-form {
  flex-basis: 50%;
  padding: 60px;
  background-color: rgb(55, 111, 255);
  border-radius: 12px;
}
@media (max-width: 768px) {
  .footer .footer__wrapper .footer-content .footer-form {
    padding: 40px;
  }
}
@media (max-width: 431px) {
  .footer .footer__wrapper .footer-content .footer-form {
    flex-basis: 100vw;
    padding: 40px 5%;
    border-radius: 0;
  }
}
.footer .footer__wrapper .footer-content .footer-form .form-title {
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-weight: 900;
  line-height: 40px;
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-form .form-title {
    font-size: 28px;
    line-height: 36px;
  }
}
@media (max-width: 431px) {
  .footer .footer__wrapper .footer-content .footer-form .form-title {
    font-size: 7.5vw;
    line-height: 10vw;
  }
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-form .form-title {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .footer .footer__wrapper .footer-content .footer-form .form-title {
    margin-bottom: 16px;
  }
}
.footer .footer__wrapper .footer-content .footer-form .form-item {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(193, 211, 222);
  width: 560px;
  height: 60px;
  padding-left: 32px;
}
.footer .footer__wrapper .footer-content .footer-form .form-item::-moz-placeholder {
  color: rgb(193, 211, 222);
}
.footer .footer__wrapper .footer-content .footer-form .form-item::placeholder {
  color: rgb(193, 211, 222);
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-form .form-item {
    width: 342px;
  }
}
@media (max-width: 768px) {
  .footer .footer__wrapper .footer-content .footer-form .form-item {
    width: 254px;
  }
}
@media (max-width: 431px) {
  .footer .footer__wrapper .footer-content .footer-form .form-item {
    width: 100%;
  }
}
.footer .footer__wrapper .footer-content .footer-form .form-message {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(193, 211, 222);
  width: 560px;
  height: 120px;
  padding-left: 32px;
  padding-top: 18px;
}
.footer .footer__wrapper .footer-content .footer-form .form-message::-moz-placeholder {
  color: rgb(193, 211, 222);
}
.footer .footer__wrapper .footer-content .footer-form .form-message::placeholder {
  color: rgb(193, 211, 222);
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-form .form-message {
    width: 342px;
  }
}
@media (max-width: 768px) {
  .footer .footer__wrapper .footer-content .footer-form .form-message {
    width: 254px;
  }
}
@media (max-width: 431px) {
  .footer .footer__wrapper .footer-content .footer-form .form-message {
    width: 100%;
  }
}
.footer .footer__wrapper .footer-content .footer-form .form-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-form .form-items {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 431px) {
  .footer .footer__wrapper .footer-content .footer-form .form-items {
    gap: 10px;
  }
}
.footer .footer__wrapper .footer-content .footer-form .form-items .form-button {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(55, 111, 255);
  background-color: rgb(255, 255, 255);
  text-align: start;
  flex-basis: 208px;
  height: 60px;
  margin-right: 20px;
  border: none;
  padding: 18px 42px;
}
.footer .footer__wrapper .footer-content .footer-form .form-items .form-button::after {
  content: url(../../images/Header_footer_img/arrow.svg);
  margin-left: 19px;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-form .form-items .form-button {
    flex-basis: 60px;
    margin-right: 0;
    padding: 18px 109px;
  }
}
@media (max-width: 768px) {
  .footer .footer__wrapper .footer-content .footer-form .form-items .form-button {
    padding: 18px 65px;
  }
}
@media (max-width: 431px) {
  .footer .footer__wrapper .footer-content .footer-form .form-items .form-button {
    width: 100%;
  }
}
.footer .footer__wrapper .footer-content .footer-form .form-items .form-checkbox {
  flex-basis: 332px;
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-form .form-items .form-checkbox {
    flex-basis: 48px;
  }
}
.footer .footer__wrapper .footer-content .footer-form .form-items .form-checkbox .checkbox-item {
  width: 20px;
  height: 20px;
}
.footer .footer__wrapper .footer-content .footer-form .form-items .form-checkbox .checkbox-text {
  flex-grow: 0;
  flex-basis: 262px;
  margin-left: 12px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(193, 211, 222);
}
.footer .footer__wrapper .footer-content .footer-form .form-items .form-checkbox .checkbox-text .checkbox-link {
  color: inherit;
  cursor: pointer;
}

.footer .footer__wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 80px 0;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper {
    max-width: 1024px;
    padding: 60px 40px;
  }
}
@media (max-width: 768px) {
  .footer .footer__wrapper {
    max-width: 768px;
    padding: 40px;
  }
}
@media (max-width: 431px) {
  .footer .footer__wrapper {
    max-width: 100vw;
    padding: 40px 5%;
  }
}

/*шаблон для всех обычныйх текстов*/
/*mixin для верхней полосы футера жирный текст*/
/*шаблон для верхней полосы футера обычный текст*/
/* Вынести в _template для удобства */
* {
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  max-width: 100%;
  height: 496px;
  background-image: url(../../images/contacts_img/Header_backgr_contacts1.jpg);
  background-color: rgb(57, 58, 86);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 768px) {
  .header {
    height: 340px;
  }
}
@media (max-width: 431px) {
  .header {
    height: 320px;
  }
}

.title-wrapper {
  max-width: 1400px;
  margin: 121px auto;
}
@media (max-width: 1024px) {
  .title-wrapper {
    max-width: 100%;
    display: flex;
    padding-left: 40px;
  }
}
@media (max-width: 768px) {
  .title-wrapper {
    margin: 80px auto;
  }
}
@media (max-width: 431px) {
  .title-wrapper {
    padding-left: 5vw;
  }
}

.header-title__contacts {
  max-width: 440px;
}
@media (max-width: 1024px) {
  .header-title__contacts {
    max-width: 560px;
  }
}

.footer {
  background-image: url(../../images/Header_footer_img/bg-img-net.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer .footer__wrapper .footer-content {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content {
    gap: 20px;
  }
}
@media (max-width: 431px) {
  .footer .footer__wrapper .footer-content {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
.footer .footer__wrapper .footer-content .footer-contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  gap: 40px;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-contacts {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 768px) {
  .footer .footer__wrapper .footer-content .footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
  }
}
@media (max-width: 431px) {
  .footer .footer__wrapper .footer-content .footer-contacts {
    grid-row: 2/3;
  }
}
.footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__tel {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
}
.footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__tel-num {
  font-family: "Inter", sans-serif;
  color: rgb(55, 111, 255);
  font-size: 26px;
  font-weight: 600;
  line-height: 130%;
  text-decoration: underline;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__tel-num {
    font-size: 18px;
    line-height: 26px;
  }
}
.footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__tel-second {
  align-self: self-end;
}
@media (max-width: 768px) {
  .footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__tel-second {
    align-self: flex-start;
    margin-top: -22px;
  }
}
.footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__text {
  color: rgb(139, 155, 171);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__text {
    font-size: 16px;
    line-height: 24px;
  }
}
.footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__email {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
}
.footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__email-adress {
  color: rgb(55, 111, 255);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-decoration: underline;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__email-adress {
    font-size: 18px;
    line-height: 26px;
  }
}
.footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__adress {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
}
.footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__adress-text {
  color: rgb(57, 58, 86);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__adress-text {
    font-size: 18px;
    line-height: 26px;
  }
}
.footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__map {
  grid-column: 1/3;
  grid-row: 3/5;
  align-self: self-end;
  height: 427px;
  border-radius: 12px;
  background-image: url(../../images/Header_footer_img/map.jpg);
  background-position: center;
  background-size: cover;
}
@media (max-width: 768px) {
  .footer .footer__wrapper .footer-content .footer-contacts .footer-contacts__map {
    width: 100%;
    height: 307px;
  }
}
.footer .footer__wrapper .footer-content .footer-form {
  border-radius: 12px;
}
.footer .footer__wrapper .footer-content .footer-form .footer-form__title {
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-weight: 900;
  line-height: 40px;
  margin-bottom: 24px;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-form .footer-form__title {
    font-size: 28px;
    line-height: 36px;
  }
}
@media (max-width: 431px) {
  .footer .footer__wrapper .footer-content .footer-form .footer-form__title {
    font-size: 7.5vw;
    line-height: 10vw;
  }
}
@media (max-width: 431px) {
  .footer .footer__wrapper .footer-content .footer-form .footer-form__title {
    margin-bottom: 16px;
  }
}
.footer .footer__wrapper .footer-content .footer-form .form__subtitle {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(255, 255, 255);
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .footer .footer__wrapper .footer-content .footer-form .form__subtitle {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 431px) {
  .footer .footer__wrapper .footer-content .footer-form .form__subtitle {
    margin-bottom: 20px;
  }
}
.footer .watermark {
  margin-top: 40px;
  color: rgb(139, 155, 171);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}/*# sourceMappingURL=contactsStyle.css.map */