@import '../vars';
@import '../templates';

* {
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  max-width: 100%;
  height: 496px;
  background-image: url(../../images/contacts_img/Header_backgr_contacts.jpg);
  background-color: rgb(57, 58, 86);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-top {
  @extend %header-top;
}

.title-wrapper {
  max-width: 1400px;
  margin: 121px auto;
}

.header-title {
  @extend %header-title;
}

.header-title__contacts {
  max-width: 440px;
}

.footer {
  background-image: url(../../images/Header_footer_img/bg-img-net.png);
  background-repeat: no-repeat;
  background-size: cover;
  .footer__wrapper {
    @extend %wrapper_position;
    // padding: 80px auto 124px;
    .footer-content {
      display: grid;
      gap: 40px;
      grid-template-columns: 1fr 1fr;
      .footer-contacts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto);
        gap: 40px;
        .footer-logo {
          grid-column: 1/3;
        }
        .footer-contacts__tel {
          display: flex;
          flex-direction: column;
          gap: 16px;
          justify-content: space-between;
        }
        .footer-contacts__tel-num {
          font-family: $font_main;
          color: $color_form-button;
          font-size: 26px;
          font-weight: 600;
          line-height: 130%;
          text-decoration: underline;
        }
        .footer-contacts__tel-second {
          align-self: self-end;
        }

        .footer-contacts__text {
          color: $color-border;
          font-family: $font_main;
          font-size: 20px;
          font-weight: 600;
        }
        .footer-contacts__email {
          display: flex;
          flex-direction: column;
          gap: 16px;
          justify-content: flex-start;
        }

        .footer-contacts__email-adress {
          color: $color_form-button;
          font-family: $font_main;
          font-size: 20px;
          font-weight: 600;
          line-height: 28px;
          text-decoration: underline;
        }

        .footer-contacts__adress {
          display: flex;
          flex-direction: column;
          gap: 16px;
          justify-content: flex-start;
        }
        .footer-contacts__adress-text {
          color: $color_third;
          font-family: $font_main;
          font-size: 20px;
          font-weight: 600;
          line-height: 28px;
        }

        .footer-contacts__map {
          grid-column: 1/3;
          grid-row: 3/5;
          align-self: self-end;
          height: 427px;
          border-radius: 12px;
          background-image: url(../../images/Header_footer_img/map.jpg);
          background-position: center;
          background-size: cover;
        }
      }
      .footer-form {
        @extend %form;
        .footer-form__title {
          @include subtitle($color_first);
          margin-bottom: 24px;
        }

        .form__subtitle {
          @include text($font_main, $color_first);
          margin-bottom: 40px;
        }
      }
    }
  }
  .watermark {
    margin-top: 40px;
    color: $color-border;
    font-family: $font_main;
    font-size: 16px;
    font-weight: 400;
  }
}
