$font_main: 'Inter', sans-serif;
$font_add: 'Roboto', sans-serif;

$color_first: rgb(255, 255, 255);
$color_second: rgb(36, 42, 86);
$color_third: rgb(57, 58, 86);
$color_form-button: rgb(55, 111, 255);
$color_nav_form: rgb(193, 211, 222);
$color-border: rgb(139, 155, 171);

$background-color_first: rgb(237, 244, 250);
$background-color_second: rgb(57, 58, 86);
$background-color_third: rgb(55, 111, 255);
$background-color_add: rgb(251, 247, 241);

$width: 1920px;
